body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-image 0.5s ease;
    background-size: cover; 
    background-position: center;
}
.container-crear-sala {
    width: 100%;
    /* padding: 20px; */
    /* background-color: rgba(0, 0, 0, 0.7); */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 1; 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: aliceblue;
}
.container-sala{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 90vh;   
}
.background-uno {
    background-image: url('../../img/fondos-pantalla/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background-dos {
    background-image: url('../../img/fondos-pantalla/fondo3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.background-tres {
    background-image: url('../../img/fondos-pantalla/fondo4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #323232c3;

}
.dropbtn{
    color: #ffffff;
    border: none;
    border-radius: 6px;
    width: 100%;
    background-color:#32323200 ;
}
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .logo {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    width: 50%;
    height: 50%;
} */

.token, .creador-sala, .nivel, .modo-juego, .cantidad, .estado, .iniciar-sala {
    margin-bottom: 10px;
    text-align: center;
}
.modo-juego .btn-secondary {
    background-color: #5a5a5a;
    color: #f0f0f0;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}

.modo-juego .dropdown-menu {
    background-color: #444444;
    border: none;
    border-radius: 5px;
}

.cantidad {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad-jugadores {
    margin-right: 10px;
    font-weight: bold;
}

.flecha {
    background-color: #5b5b5b;
    color: #e0e0e0;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
}
#decrementar:hover, #incrementar:hover {
    background-color: #777777;
}

#cantidadInput {
    width: 60px;
    text-align: center;
    border: 1px solid #5a5a5a;
    background-color: #333333;
    color: #f0f0f0;
    border-radius: 4px;
    margin: 0 5px;
    padding: 5px;
}
.iniciar-juego {
    background-color: #b700ae;
    padding: 8px;
    border: none;
    color: #e0e0e0;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}
.iniciar-juego:hover {
    background-color: #d200cfae;
}

.send-icon i {
    color: #5a5a5a;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.send-icon i:hover {
    color: #777777;
}

.container-tabla-usuarios{
    overflow-y: auto;
    height: 100%;
}
.tabla{
    overflow-y: auto;
    height: 400px;
}
tr{
    width: 100%;
    padding: 10px;
}
/* .tabla-jugadores{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    height: 100%;
} */
.chat-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 10px;
}

.chat-box {
    background-color: rgba(111, 111, 111, 0.1);
    border: none;
    border-radius: 10px; 
    height: 200px;
    overflow-y: auto;
    color: #ffffff;
    font-size: 14px;
    overflow-x: auto;
    word-break: break-all;
    padding: 5px;
}
.chat-box::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}


.chat-box::-webkit-scrollbar-track {
    background: #d9d9d9; 
    border-radius: 10px;
}


.chat-box::-webkit-scrollbar-thumb {
    background-color: #d200cf;
    border-radius: 10px;
    border: 2px solid rgb(193, 0, 193);
}

.chat-box::-webkit-scrollbar-thumb:hover {
    border: 2px solid rgb(126, 0, 126);  
    box-shadow: 0 5px 10px rgb(193, 0, 193); 
}
.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row-reverse;
    gap: 5px;
}

.chat-message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
}

.chat-message .username {
    font-weight: bold;
    color: #00bcd4;
    margin-right: 5px;
}

.chat-message .message-text {
    background-color: rgba(231, 231, 231, 0);
    padding: 8px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    max-width: 200px;
    word-wrap: break-word;
}


#chat-input {
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ccc;
    padding: 10px;
    font-size: 14px;
}
#chat-input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(121, 121, 121, 0);
}

.send-icon {
    background-color: #00bcd4;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
}

.send-icon:hover {
    background-color: #008ba3;
}


.list-jugadores{
    width: 100%;
    height: 540px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(24, 60px);
    justify-items: center;
    background-color: #000000d2;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
}

.list-jugadores::-webkit-scrollbar {
    width: 16px;
    height: 12px;
}


.list-jugadores::-webkit-scrollbar-track {
    background: #d9d9d9; 
    border-radius: 10px;
}


.list-jugadores::-webkit-scrollbar-thumb {
    background-color: #d200cf;
    border-radius: 10px;
    border: 2px solid rgb(126, 0, 126);
}

.list-jugadores::-webkit-scrollbar-thumb:hover {
    border: 2px solid rgb(126, 0, 126);  
    box-shadow: 0 5px 10px rgb(193, 0, 193);
}


.jugador-sala{
    /* margin: 10px; */
    width: 95%;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: #747474a1;
    padding: 10px;
    &:hover{
        border: 1px solid #666666ad;
        box-shadow: 0 0 15px rgb(193, 0, 193);
        
    }
}

.container-opciones{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(8, 30px);
    justify-items: center;
    background-color: #0000007e;

    border-radius: 10px;
    padding: 5px;
    gap: 5px;
}

/* .container-opciones {
    color: #f0f0f0;
    border: 1px solid #444444;
    background-color: rgba(53, 53, 53, 0.8);
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    border-radius: 8px;
    width: 100%;
    height: 300px;
} */
.modal-header-custom {
    background-color: #333;
    color: white;
    border-bottom: none;
}
.modal-body-custom {
    background-color: #333;
    color: white;
    text-align: center;
}
.modal-body-custom img {
    width: 100px;
    margin-bottom: 10px;
}
.container-exp {
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
}
.exp {
    background-color: #007bff;
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8em;
}
.bonos {
    background-color: #dadada;
    color: rgb(0, 0, 0);
    border: none;
    text-align:start;
    padding: 6px 12px;
    margin-top: 10px;
    width: 100%;
    height: 37.6px;
    border-radius: 5px;
}
.icono{
    width: 30px;
    height: 30px;
}
.icono-perfil{
    width: 40px;
    height: 40px;
}