

#alerta {
    display: none;
    position: fixed;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #28a745;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    align-items: center;
}

#alerta i {
    margin-right: 10px;
}


.title-forms2{
    font-size: 1em;
    color: #f550f5 !important;
    margin-bottom: 10px;
    font-family: 'Palmark';
    width: 60%;
    text-align: center;
}



.icoDevpas{
    width: 70px;
    height: 70px;
}

.bj{
    margin-top: 10%;
}

.des{
    animation: slideUpFromBottom 1.5s ease-out forwards; 
}

@keyframes slideUpFromBottom {
    0% {
        transform: translateY(100%); /* El formulario comienza fuera de la pantalla, abajo */
        opacity: 0; /* Invisible al principio */
    }
    40% {
        transform: translateY(-20px); /* Comienza a subir un poco */
        opacity: 1; /* Ya es visible */
    }
    60% {
        transform: translateY(10px); /* Rebote pequeño hacia abajo */
    }
    80% {
        transform: translateY(-5px); /* Rebote hacia arriba */
    }
    100% {
        transform: translateY(0); /* Se coloca en su posición final */
    }
}

.tam{
    width: 50%;
}

.formValPas {
    position: relative;
        margin-top: 50px;
        opacity: 1;
        animation: bounceInFromCorner 1.5s ease-out forwards; 
}

/* Animación de caída y rebote */
@keyframes bounceInFromCorner {
    0% {
        transform: translate(-200%, -200%); /* Empuja el formulario fuera de la pantalla desde la esquina superior izquierda */
        opacity: 0;
    }
    30% {
        transform: translate(30%, -30%); /* El formulario comienza a caer */
        opacity: 1;
    }
    50% {
        transform: translate(-15%, 15%); /* Rebota un poco hacia abajo y a la izquierda */
    }
    70% {
        transform: translate(5%, -5%); /* Rebote hacia arriba y a la derecha */
    }
    85% {
        transform: translate(-2%, 2%); /* Rebote más pequeño */
    }
    100% {
        transform: translate(0, 0); /* Se posiciona finalmente en su lugar */
    }
}


.toggle-password2 {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #620b9c;
}


 
@media (max-width: 576px) {
    
    .icoDevpas{
        width: 50px;
        height: 50px;
    }


    .tam{
        width: 100%;
    }


    .title-forms2{
        font-size: 1.2em;
        color: #f550f5 !important;
        margin-bottom: 10px;
        font-family: 'Palmark';
        width: 100%;
        text-align: center;
    }

    .bj{
        margin-top: 50%;
    }

    #alerta {
        top: 80%;
        left: 35%;
    }

}

  