/* variables */
:root {
  --clr-gradiente: radial-gradient(
    circle,
    rgba(134, 8, 180, 1) 0%,
    rgba(73, 47, 237, 1) 60%,
    rgba(189, 111, 218, 1) 100%
  );

  --clr-gradiente-btn: linear-gradient(
    270deg,
    rgba(134, 8, 180, 1) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  --clr-botones: rgb(129, 110, 216);
  --clr-text-podio: rgb(47, 216, 41);
  --clr-notif: red;

  --width: 20px;
}
/* -------------------- navbar --------------------  */

/* iconos navbar */
.icon-nav {
  width: var(--width);
  height: auto;
}
.icon-liga {
  width: calc(var(--width) * 4);
  height: auto;
}

.icon-home {
  height: calc(var(--width) * 2);
  width: calc(var(--width)*2);
}

.img-config img{
  width: calc(var(--width)*2);
  height: calc(var(--width)*2);
}
/* botones nav */

/*Boton de notificaciones */
.bell {
  border: 2.17px solid white;
  border-radius: 10px 10px 0 0;
  width: 15px;
  height: 17px;
  background: transparent;
  display: block;
  position: relative;
  top: -3px;
}
.bell::before,
.bell::after {
  content: "";
  background: white;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2.17px;
}
.bell::before {
  top: 100%;
  width: 20px;
}
.bell::after {
  top: calc(100% + 4px);
  width: 7px;
}
/*container main styling*/
.notification {
  background: transparent;
  border: none;
  padding: 10px 10px;
  border-radius: 50px;
  transition: 300ms;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*campana notificaciones*/
.notification::before {
  content: "3";
  color: white;
  font-size: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--clr-notif);
  position: absolute;
  right: 1px;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
/*container animations*/
.notification:hover > .bell-container {
  animation: bell-animation 650ms ease-out 0s 1 normal both;
}
/*bell ring and scale animation*/
@keyframes bell-animation {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
    scale: 1.1;
  }
  60% {
    transform: rotate(10deg);
    scale: 1.1;
  }
  80% {
    transform: rotate(-10deg);
  }
  0%,
  100% {
    transform: rotate(0deg);
  }
}

/* quitar las animaciones del navbar  */
.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.fondo-btn,
.fondo-btn:hover,
.menu:hover {
  background-color: var(--clr-botones) !important;
  cursor: pointer;
  border: none;
}

/* extras del nav */

/* barra de progreso */
.progress {
  height: 1.5rem;
}

/* width del menu flotante  */
.menu-user {
  width: 14rem;
}

/* letra del historia */
.text-podio {
  color: var(--clr-text-podio);
}

.menu {
  border-radius: 7px;
  background-color: #3b3b3b;
}

.bonos {
  background-color: var(--clr-botones);
  height: 90px;
  width: 90px;
}
/* -------------------- fin navbar --------------------  */

/* --------------------cuerpo del home--------------------  */

/* logo Juego*/
.img-logo img {
  width: 350px;
  height: auto;
}

/* boton-cartas */
.btn-home {
  border: none;
  outline: none;
  border-radius: 0.4rem;

  text-transform: uppercase;
  background-color: var(--clr-botones);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.btn-home:active {
  scale: 0.92;
}

.btn-home:hover {
  background: var(--clr-gradiente-btn);
  color: rgb(4, 4, 38);
}

/* cartas home  */

/* contenedor de las cartas */
.main {
  min-height: 80vh;
}

/* Estilos cartas modo de juego */
.card-fondo {
  background: var(--clr-gradiente);
}

.card-home {
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 0.5rem;
}

.card-home img {
  height: 12rem;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-home:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 0.772);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-home:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #000000;
  font-weight: 500;
}

.card-home:hover img {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #3b3b3b;
  line-height: 1.4;
}

.img-card-home {
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  width: 200px;
}

/* cartas mobile */
.swiper {
  width: 100%;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  width: 260px;
  height: 280px;
  aspect-ratio: 3/4;
  border-radius: 14px;
  border: 1px solid rgb(177, 1777, 177, 0.4);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center center;
  border-radius: inherit;
  user-select: none;
}

.title {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  width: max-content;
  text-align: center;
  padding: 10px 10px;
  background: rgba(46, 39, 39, 0.3);
  border-radius: 8px;
  border: 2px solid rgba(177, 177, 177, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.5s linear;
  font-size: 14px;
}

.swiper-slide-active .title {
  bottom: -10px;
}

/* --------------------fin cuerpo del home-------------------- */

/* responsive para el iphone de Jesus */
@media only screen and (max-width: 320px) and (max-height: 568px) {

  .icon-home{
    height: calc(var(--width) * 1.5);
  }
  .icon-liga{
    height: calc(var(--width) * 3.5);
    width: auto;
  }
  /* logo */
  .img-logo img {
    width: 200px;
    height: auto;
  }
  .swiper-slide {
    width: 200px;
    height: 220px;
  }
}
