/* @import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600;700&display=swap'); */

/* Utilidades */
:root {
    --fondo: rgba(255, 255, 255, 0.7);
    --color-principal: #5972d9;
    --color-correcto: #3edbbb;
    --color-incorrecto: #fb797b;
    --color-boton: #91fc66;
    --color-boton-hover: #08722b;
}
.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    scrollbar-width:none;
}
.btn-pasaPalabra {
    background-color: var(--color-boton);
    border: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 20px;
    border-radius: 30px;
    border-bottom: 4px solid var(--color-boton-hover);
    transition: background-color 0.3s, color 0.3s;

}

.btn-pasaPalabra:hover {
    background-color: var(--color-boton-hover);
    border-bottom: 4px solid transparent;
    color: #fff;
}

.fondo-section {
    background: var(--fondo);
    max-width: 700px;
    border: 2px solid #000;
    border-radius: 20px;
}

.ocultar {
    display: none;
}

.letra {
    font-family: 'Rammetto One';
    color: var(--color-principal);
}


/* Estilo del juego */
.container-tiempo {
    width: 250px;
    height: 250px;
    margin: 40px auto;
    border: 2px solid #000;
    background: var(--fondo);
}

.container-tiempo .tiempo {
    font-size: 50px;
    font-weight: bold;
}

.circulo {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
    color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.pregunta-actual {
    background-color: #000;
    color: #fff;
}

.correcto {
    background-color: var(--color-correcto);
    color: #fff;
}

.incorrecto {
    background-color: var(--color-incorrecto);
    color: #fff;
}

.container-pregunta .letra-pregunta {
    border: 2px solid #000;
    display: inline-block;
    color: #000;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 30px;
    position: relative;
    bottom: 30px;
    background-color: #fff;
}

.container-pregunta .pregunta {
    font-weight: 600;
    font-size: 20px;
}

.container-pregunta .select-pregunta {
    font-size: 25px;
    text-align: center;
    width: 60%;
    border-radius: 30px;
    border: 2px solid #ccc;
    outline: none;
}

.pantalla-final {
    max-width: 700px;
    background: var(--fondo);
    padding: 30px;
    border: 2px solid #000;
    border-radius: 20px;
}

.pantalla-final span {
    display: block;
    background: #000;
    width: 100px;
    height: 100px;
    margin: auto;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}

.mensaje-error {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
}

.devolver-home{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
}
/* loader  */

.contenedor-loader{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-family: sans-serif;
    font-size: 12px;
    color: #00eaff;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .loading-circle:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 110%;
    height: 110%;
    border: 3px solid transparent;
    border-top: 3px solid #00eaff;
    border-right: 3px solid #00eaff;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }
  
  .loading-circle span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }
  
  .loading-circle span:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00eaff;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #00eaff;
  }
  
  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }