.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn {
    font-size: 16px;
    cursor: pointer;
}


.modal-profile {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}


.modal-profile-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #0D0D0D;
    box-shadow:0 4px 15px #00CFFF;
    color: #fff;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    max-height: 650px;
    max-width: 400px;
    text-align: center;
    padding: 15px;
}
.modal-profile-content h2 {
    font-size: 24px;
    font-family: 'Jersey';
}
.cerrar {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover {
    color: #000;
}

.avatar-menu{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10px;
}

.edit{
    display: flex;
    text-align: end;
    color: #00CFFF;
    width: 120px;
    /* margin-left: auto;
    margin-right: auto; */
    font-size: 18px;
}
.avatar-edit{
    display: flex;
    flex-direction: column;
}
/* Mostrar el ícono en hover */
.avatar-edit:hover .edit-icon {
    display: block;
}

/* Opcional: efecto de zoom en la imagen al hacer hover */
.avatar-edit:hover img {
    transform: scale(1.05);
}
.avatar-option {

    border: 3px solid #A452FF;
    border-radius: 50%;
    margin: 10px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.2s;
    animation: pixelated-border-animation 1s infinite linear;
    position: relative;
}

.avatar-option:hover{
    transform: scale(1.2);
    box-shadow: 0 4px 15px #FF007F;
}


.avatar-option:hover {
    transform: scale(1.1);

}

.avatar-option.active-scale {
    transform: scale(1.2);
    box-shadow: 0 4px 15px #00CFFF;
}

@media only screen and (max-width: 769px){
    .modal-profile-content {
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 428px) and (max-height: 926px) {
    .edit{
        left: 70%;
        bottom:30px;
    }

}