/* Variables CSS */
:root {
    --hex-width: 95px;
    --hex-height: 100px;
    --hex-bg-color: #424242;
    --hex-color: #fff;
    --img-size: 35px;
    --shadow: 2px 2px 5px;
    --saturate: 2;
}

/* Imagen del usuario */
.content-img img,
.content-img-liga img {
    width: var(--img-size);
    height: var(--img-size);
}

/* Contenido de los hexágonos */
.contenedor-hexagonos .hexagonos .content-hex {
    width: var(--hex-width);
    height: var(--hex-height);
    background: var(--hex-bg-color);
    color: var(--hex-color);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 0 8px -10px 0; 
    cursor: pointer;
}

.content-hex:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

/* Responsive */
@media screen and (max-width: 768px), screen and (max-height: 568px) {
    .contenedor-hexagonos .hexagonos .content-hex {
        width: 50px;
        height: 60px;
        margin: 0 3px;
    }
    .content-img img {
        width: 20px;
        height: 20px;
    }
    .content-name p {
        font-size: 10px;
    }
}

/* animaciones */

.esperando {
    position: relative;
    display: inline-block;
}

.esperando::before {
    content: 'Esperando Jugadores';
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    letter-spacing: 2px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    animation: floating 1s ease-out infinite alternate;
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-25px);
    }
}

.contenedor-hexagonos .hexagonos {
    opacity: 0;
    transform: translateY(20px);
    animation: slide-in 0.8s forwards;
}

@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-espera {
    transform: translateY(-50%);
    opacity: 0;
    animation: modal-slide 0.3s forwards;
}

@keyframes modal-slide {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
