.cestaTopi{
    width: 27%;
    height: auto;
}


.imgMuestra {
  width: 200px !important;
  margin: 10px !important;

}

.backgound-topi{
    background-image: url(../../img/fondos-pantalla/fondoTopi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 
    /* background-color: #0000009c;
    background-blend-mode: soft-light; */

}

.backgound-topi2{
    background-image: url(../../img/fondos-pantalla/fondohome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 
    background-color: #00000015;
    background-blend-mode: soft-light;

}

.backgound-topi3{
  background-image: url(../../img/fondos-pantalla/fondohome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center; 
  background-color: #000000e1;
  background-blend-mode: soft-light;

}
.configuraciones{
    width: 120px;

}

.icono-home{
    width: 100px;
}
.icono-home2{
    width: 80px;
}


.carTopi{
    border:4px solid #000;
    width: 70%;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
  box-sizing: border-box;
  box-shadow: 0 0 10px 8px #0a0a0a;
}

.topiImgbar{
    width: 100%;
}

.fdoTopi{
    background-color: #4896e9;
    border-left: 4px solid #000;
}

/* From Uiverse.io by mi-series */ 
.btn-dificil,
.btn-medio,
.btn-facil {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #43df3e;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 8px #07415c;
    padding: 16px 20px;
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    width: 60%;
    text-decoration: none;
    animation: myAnim 2s ease-in 0s 1 normal forwards;
  }
  
  .btn-dificil:hover,
  .btn-medio:hover,
  .btn-facil:hover {
    opacity: .95;
    background-color: #ce49b8;
  }
  
  
  @keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.lgoTop{
    width: 300px;
    height: auto;
    /* top: 5%; */
    left: 20%;
    /* transform: translate(-50%, -50%); */
}


/* Estilos para el modal de elefantes */

.custom-elephant-modal {
    background-color: #f0f8ff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.custom-elephant-modal .modal-header {
    background-color: #007bff;
    color: white; 
    border-bottom: none; 
}

.custom-elephant-modal .modal-body {
    padding: 20px;
    font-size: 1rem;
    color: #333;
}

.custom-elephant-modal .modal-footer {
    background-color: #f0f8ff; 
    border-top: none; 
}

.custom-elephant-modal .btn-primary {
    background-color: #007bff;
    border: none;
}

.custom-elephant-modal .btn-primary:hover {
    background-color: #0056b3; 
}

.rect{
  /* background-color: transparent; */
  background-color: #007bff;
    /* background-image: url(../../img/fondos-pantalla/fondoLadrillo.png);
    background-size: cover;
    background-repeat: no-repeat; */
    color: white;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
  box-sizing: border-box;
  box-shadow: 0 0 10px 8px #0a0a0a;
  font-weight: 800;
  font-size: 30px;
}

.rect2{
  background-image: url(../../img/fondos-pantalla/fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
box-sizing: border-box;
box-shadow: 0 0 10px 8px #0a0a0a;
font-weight: 800;
font-size: 30px;
}

.digital-clock2,
.digital-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    /* border-radius: 10px; */
    padding: 3px 20px;
    background-color: #000000;
    text-decoration: none;
    transition: 1s;
    box-shadow: 2px 2px 0 rgb(212, 207, 207);
    transform: skewX(-15deg);
    border: none;
    width: 50%;
  }

  .digital-clock2:focus,
  .digital-clock:focus{
    outline: none;
  }
  

.digital-clock2 span,
.digital-clock span {
  font-weight: bold;
}

.digital-clock2 .minutes,
.digital-clock .minutes {
  color: #ffeb3b;
}

.digital-clock2 .puntitos,
.digital-clock .puntitos {
  color: #3b80ff;
}

.digital-clock2 .seconds,
.digital-clock .seconds {
  color: #4caf50;
}


.presentationMemori{
    background-color: transparent;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
    box-sizing: border-box;
    box-shadow: 0 0 10px 8px #0a0a0a;
}



#score {
    font-size: 24px;
    margin: 20px;
}

#presentation {
    margin: 20px;
    margin-top: 100px;
}

#presentation img {
    width: 100px; 
    height: auto;
    margin: 10px;
}


.board {
    width: 610px;
    height: 530px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-content: stretch; */
    border: 3px solid white;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
    box-sizing: border-box;
    box-shadow: 0 0 10px 8px #0a0a0a;
    /* background-color: #ae7730; */
    background-color: transparent;
}

.board div {
    width: 140px; 
    height: 150px;
    margin-right: 20px;
    background-image: url("../../../views/topi-memori/img/pipe.png");
    background-size: cover;
    position: relative; 
}

.board div img {
    width: 100px; 
    height: 100px;
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    user-select: none;
    pointer-events: none; 
}

/* 
.flotadorText{
    color: blue;
    animation: moveDownAndGrow 2s forwards;
    opacity: 0;
} */

@keyframes moveDownAndGrow {
    0% {
        top: 0;
        font-size: 20px;
        opacity: 0;
    }
    50% {
        top: 400px;
        font-size: 60px;
        opacity: 1;
    }
    100% {
        top: 600px;
        font-size: 100px;
        opacity: 1;
    }
}

/* utilidades */
.hidden {
    display: none;
}


.cardMini{
    width: 60%;
    padding: 20px;
    background-image: url(../../img/fondos-pantalla/fondo6.jpg);
    background-color: transparent;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);
    box-sizing: border-box;
    box-shadow: 0 0 10px 8px #0a0a0a;
    border-radius: 15px;

}

/* From Uiverse.io by JohnnyCSilva */ 
.cardJuegosmini {
    width: 80%;
    /* max-width: 290px; */
    /* height: 70px; */
    background: #353535;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
  }
  
  .cardJuegosmini:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .imgMini {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    /* border-radius: 10px; */
    /* background: linear-gradient(#d7cfcf, #9198e5); */
  }
  
  .cardJuegosmini:hover > .img {
    transition: 0.5s ease-in-out;
    background: linear-gradient(#9198e5, #712020);
  }
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: white;
    font-family: 'Poppins' sans-serif;
  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .h1 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .p {
    font-size: 12px;
    font-weight: lighter;
  }
  

 


@media (max-width: 576px) {
 

  .configuraciones{
    width: 100px;
  }

  .icono-home{
    width: 80px;
  }

  .carTopi{
    width: 90%;
    height: 230px;
  }
  .topiImgbar{
    width: 100%;
    height: 220px;
  }

  .lgoTop{
    width: 180px;
    left: 7%;
  }


  .btn-dificil,
  .btn-medio,
  .btn-facil {
    padding: 5px 5px;
    font-size: 20px;
    width: 70%;
  }


  .imgMuestra {
    width: 130px !important;
    margin: 0px !important;
  
  }

  .board div {
    width: 100px; 
    height: 100px;
    margin-right: 0px;
    background-image: url("../../../views/topi-memori/img/pipe.png");
    background-size: cover;
    position: relative; 
}

.board div img {
    width: 80px; 
    height: 80px;
    position: absolute; 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    user-select: none;
    pointer-events: none; 
}


}



/* iphone de jesus  */
@media only screen and (max-width: 320px) and (max-height: 568px) {

  #presentation {
    margin: 20px;
    margin-top: 20px;
}


.imgMuestra {
  width: 120px !important;
  margin: 0px !important;

}

.board div {
  width: 90px; 
  height: 90px;
  margin-right: 0px;
  margin: 0;

}

.board {
  width: 610px;
  height: 340px;
  margin: 0 auto;
  margin-top: 10px;
 
}

.rect{
  font-weight: 800;
  font-size: 20px;
}


.hidden {
  display: none;
}

}
.contenedor-loader{
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-family: sans-serif;
  font-size: 12px;
  color: #00eaff;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-circle:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 110%;
  height: 110%;
  border: 3px solid transparent;
  border-top: 3px solid #00eaff;
  border-right: 3px solid #00eaff;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.loading-circle span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loading-circle span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00eaff;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #00eaff;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}