<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUZIT Invitado</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <!-- Hoja de estilos personalizada -->
    <link rel="stylesheet" href="../../assets/css/main.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/css/pages/home.css">
    
    <!-- librerias -->
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">
</head>
<body class="backgound-start">
    <div class="container-100vh d-flex align-items-center">
        <div class="container loader-none">
                <header>
                    <nav class="col-12 row">
                        <div class="col-6 d-flex justify-content-start">
                            <div class="item button-parrot" style="--bg-color: #2c3e50">
                                <a href="../login.html">
                                    <button class="btn-53">
                                        <div class="original">Iniciar sesión</div>
                                        <div class="letters">
                                            <span>V</span>
                                            <span>A</span>
                                            <span>M</span>
                                            <span>O</span>
                                            <span>S</span>
                                            <span>!</span>
                                            <span><img src="../../assets/img/iconos-desarrollo/vamos.png" alt="vamos-ir" class="size-icon-small"></span>
                                        </div>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <img src="../../assets/img/iconos/config.png" alt="config-basic" class="size-icon-1 fa-shake">
                            
                        </div>
                    </nav>
                </header>
                <section class="targeta-modo-juego">
                    <div class="row ">
                        <div class="col-lg-5 d-flex align-items-center"">
                            <img src="../../assets/img/iconos-principales/nuzit-fondo-transp.png" alt="" class="tm-log p-5">
                        </div>
                        <div class="col-md-7  d-none d-lg-flex mt-3">
                            <div class="col-12 row">
                                <div class="col-6">
                                    <div class="card-modo-juego" id="card">
                                        <!-- <span class="glass"></span> -->
                                        <div class="content">
                                            <span>HOVER ME</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-modo-juego" id="card">
                                        <!-- <span class="glass"></span> -->
                                        <div class="content">
                                            <span>HOVER ME</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- resposive card modo juegos -->
                <section id="tranding" class="d-lg-none html">
                    <div class="swiper tranding-slider ">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide">
                            <div class="card-modo-juego" id="card">
                                <!-- <span class="glass"></span> -->
                                <div class="content">
                                    <span>HOVER ME</span>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class="swiper-slide">
                            <div class="card-modo-juego" id="card">
                                <!-- <span class="glass"></span> -->
                                <div class="content">
                                    <span>HOVER ME</span>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 3 -->
                        <div class="swiper-slide">
                            <div class="card-modo-juego" id="card">
                                <span class="glass"></span>
                                <div class="content">
                                <span>HOVER ME</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </section>
            
            </div>

    </div>

    <!-- loader -->
    <div class="container loader-display"> 
        <div class="cont-center-xy">
            <div class="loader-carga">
                Loading ...
            </div>
            
            <div class="loader-nuzit">
                <div class="container-loader">
                    <div class="carga-loader">
                        <!-- <img src="../../assets/img/iconos-desarrollo/loader-icon.png" alt=""> -->
                        <div class="loader-wrapper">
                            <div class="loader">
                                <div class="loader loader-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script src="../../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../../assets/js/animation/loader.js"></script>
    <script src="../../assets/js/page/home.js"></script>
</body>
</html>