<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUZIT Invitado</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <!-- Hoja de estilos personalizada -->
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../assets/css/pages/home.css">
    <link rel="stylesheet" href="../../lib/package/swiper-bundle.min.css" />
    
    <!-- librerias -->
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">
</head>
<body class="backgound-start-back">
    <div class="container-100vh d-flex align-items-center">
        <div class="container-fluid loader-none">
                <section class="targeta-modo-juego">
                    <div class="row">
                        <div class="col-lg-1">
                            <div class="col-12 d-flex justify-content-end">
                                <div class="config-invitado">
                                    <img class="musica size-icon-1" src="../../assets/img/iconos-desarrollo/mute-music.png" alt="active-music">
                                    <img class="sonido size-icon-1" src="../../assets/img/iconos-desarrollo/mute-sonido.png" alt="active-sonido">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex align-items-center">
                            <div class="login-invitado">
                                <figure class="tm-das-invit d-flex justify-content-center">
                                    <img src="../../assets/img/iconos-principales/dash.png" alt="" class="img-global">
                                </figure>
                                <a href="" class="d-flex justify-content-center">
                                    <button class="btn-diagol center-element-x font-4">Inicar sesión</button>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7  d-none d-lg-flex">
                            <div class="col-12 d-flex align-items-center">
                                <div class="card-option-grid">
                                    <div class="card-option-invit center-element-x">
                                        <figure class="invite-img-entre">
                                            <img src="../../assets/img/iconos/elefante-pesas-down.png" alt="logo-entrenamiento">
                                        </figure>
                                        <span class="text-center font-4">ENTRENAMIENTO</span>
                                    </div>
                                    <div class="card-option-invit center-element-x">
                                        <figure class="invite-img-entre">
                                            <img src="../../assets/img/iconos/elefante-linea.png" alt="logo-entrenamiento">
                                        </figure>
                                        <span class="text-center font-4">UNIRSE A SALA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- resposive card modo juegos -->
                <section class="d-lg-none">
                    <div class="col-12 p-4">
                        <div class="swiper swiper-width">
                            <div class="swiper-wrapper">
                                <!-- Se agrega mediante JavaScript -->
                                <div class="swiper-slide swiper-slider-jc">
                                    <div class="card-option-invit center-element-x">
                                        <figure class="invite-img-entre">
                                            <img src="../../assets/img/iconos/elefante-pesas-down.png" alt="logo-entrenamiento">
                                        </figure>
                                        <span class="text-center font-4">ENTRENAMIENTO</span>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slider-jc">
                                    <div class="card-option-invit center-element-x">
                                        <figure class="invite-img-entre">
                                            <img src="../../assets/img/iconos/elefante-linea.png" alt="logo-entrenamiento">
                                        </figure>
                                        <span class="text-center font-4">UNIRSE A SALA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            
            </div>

    </div>

    <!-- loader -->
    <div class="container loader-display"> 
        <div class="cont-center-xy">
            <div class="loader-carga">
                Loading ...
            </div>
            
            <div class="loader-nuzit">
                <div class="container-loader">
                    <div class="carga-loader">
                        <!-- <img src="../../assets/img/iconos-desarrollo/loader-icon.png" alt=""> -->
                        <div class="loader-wrapper">
                            <div class="loader">
                                <div class="loader loader-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- swiper -->
    <script src="../../lib/package/swiper-bundle.min.js"></script>
    <script src="../../assets/js/global/config-swiper.js"></script>


    <script src="../../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../../assets/js/main.js"></script>
</body>
</html>