<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOPI</title>
    <link rel="stylesheet" href="../../assets/css/pages/topi.css">
</head>
<body class="backgound-uno" style="text-align: center;">
    <div class="container">
        <h1>TOPI MEMORY</h1>

        <div class="col-12 d-flex" style="justify-content: center; align-items: center;">
            <div class="loaderTop1" id="loaderTop1">
                <div class="loading-bar-background">
                  <div class="loading-bar">
                    <div class="white-bars-container">
                     
                    </div>
                  </div>
                </div>
            </div>

            <div id="presentation" class="hidden"></div>

        </div>

        <!-- <div class="col-12 d-flex justify-content align-items-center"> -->
            <h2 id="score">0</h2>
        <!-- </div> -->
        <div class="loaderTop2" id="loaderTop2">
            <div class="loading-bar-background2">
              <div class="loading-bar2">
                <div class="white-bars-container">
                 
                </div>
              </div>
            </div>
        </div>
        <div id="board" class="hidden"></div>

        <script src="topiMecanica.js"></script>
    </div>
</body>
</html>