<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo.icon">
    <link rel="stylesheet" href="../../assets/css/pages/topi.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">

  </head>
<body class="backgound-topi d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="container estilo tpMe">

    <div class="row">
      <div class="col-6 d-flex justify-content-start align-items-center">
        <a href="">
          <img src="../../assets/img/iconos/musica-config.png" alt="" class="configuraciones">
        </a>
        <a href="">
            <img src="../../assets/img/iconos/sonido-config.png" alt="" class="configuraciones">
        </a>
      
      </div>
      <div class="col-6 d-flex justify-content-end">
            <a href="#modalTopy" data-bs-toggle="modal" data-bs-target="#modalTopy">
              <img src="../../assets/img/iconos-desarrollo/infoTopi.gif" alt="botón información" class="configuraciones2">
            </a>
            <a href="../home.html" class="hover-icons">
              <img src="../../assets/img/iconos/home.png" alt="botón home" class="configuraciones2">
            </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center cardDifiTopy" style="position: relative;">
          <img src="../../assets/img/iconos-principales/topLogo.png" alt="logo" class="lgoTop">
          
           
            <!-- <a href="memorTopy.html" class="btn-facil">
              FACIL
            </a>
            <a href="memorTopy.html" class="btn-medio">
              MEDIO
            </a>
            <a href="memorTopy.html" class="btn-dificil">
             DIFICIL
            </a> -->
      </div>
    </div>
      
  
  <!-- Modal -->  
  <div class="modal fade" id="modalTopy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content container-innerTopy">
        <div class="contentTopy">
          <p>
            En este juego, los elefantes aparecen y desaparecen en la pantalla, y tu tarea es recordar correctamente las imágenes de los elefantes buenos,
            mientras evitas los que no son correctos. Cada vez que selecciones correctamente un elefante,
            ganarás puntos, pero cuidado: si eliges un elefante incorrecto, perderás puntos.
          </p>
        </div>
        <div class="buttonsTopy">
          <button type="button" class="confirmTopy" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="../../lib/bootstrap/js/bootstrap.js"></script>
  <script src="../../controller/topy/dificultad.js"></script>
  <script src="../../assets/js/entrenamiento/animacion1.js"></script>

  <!-- <script type="module" src="../../assets/js/main.js"></script> -->
</body>
</html>


