.card-option-invit{
  box-sizing: border-box;
  max-height:  400px;
  max-width: 346px;
  border: 1px solid #132ad6;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.583);
  box-shadow: 0 0 8px #132ad6;
  overflow: hidden;
  &:hover{
    border: 1px solid #7c0097;
    box-shadow: 0 0 10px #a001c4;
  }
}
