<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>

    <link rel="icon" href="../../assets/img/iconos-principales/rayo.icon">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="../../assets/css/pages/forgotPassword.css">
    <link rel="stylesheet" href="../../assets/css/pages/login.css">

</head>
<body class="backgound-start-back">

    <div class="container-fluid" style="height: 100vh;">
        <div class="row mt-3">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="col-6 d-flex justify-content-start">
                    <a href="login.html">
                        <img src="../../assets/img/iconos-desarrollo/devolver.png" alt="" class="icoDevpas">
                    </a>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <img src="../../assets/img/iconos-desarrollo/music.png" alt="" class="icoDevpas me-3">
                    <img src="../../assets/img/iconos-desarrollo/sonido.png" alt="" class="icoDevpas">
                </div>
            </div>
        </div>
        <div class="row bj">
            <div class="col-12 d-flex justify-content-center align-items-center">
                    <form class="sign-in-form des tam correoContra" action="../../model/newContra/tokenNewContra.php" method="post">
                        <h6 class="title-forms2">Digita tu correo electronico para enviarte un codigo de verificación</h6>
                        <div class="col-12" id="liveAlertPlaceholder"></div>
                        <div class="input-field">
                            <i class="fas fa-user me-3"></i>
                            <input type="email" placeholder="Email user" id="txtUserEmailA" name="correoUserC" >
                        </div>
                        
                        <!-- href="../tokens/tokenForgotPassword.html" -->
                        <button  type="submit" class="comic-button disabled-input" id="btnConfirmar" >Confirmar</a>
                        <!-- <button type="submit" class="comic-button" id="btnConfirmar">Confirmar</button>  -->
                    </form>
                
            </div>
        </div>
    </div>

    
    <div class="toast-container position-fixed bottom-0 start-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <!-- <img src="..." class="rounded me-2" alt="..."> -->
                <i class="fa-solid fa-triangle-exclamation fa-xl fa-shake m-2"></i>
                <strong class="me-auto title-toast"> IMPORTANTE</strong>
                <!-- <small>11 mins ago</small> -->
                <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
            </div>
            <div class="toast-body">
                
            </div>
        </div>
    </div>

    <div class="loader-default">
        <div class="loader-circle-9">
            Loading
            <span></span>
        </div>
    </div>

    
    <script src="../../lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.js"></script>

    <script type="module" src="../../assets/js/main.js"></script>

</body>
</html>