<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>

    <link rel="icon" href="../../assets/img/iconos-principales/rayo.icon">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="../../assets/css/pages/forgotPassword.css">
    <link rel="stylesheet" href="../../assets/css/pages/login.css">

</head>
<body class="backgound-start-back">

    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="col-9 d-flex justify-content-center align-items-center">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <form class="sign-in-form">
                    <h2 class="title-forms">Recuperacion de contraseña</h2>
                    <div class="col-12" id="liveAlertPlaceholder"></div>
                    <div class="input-field">
                        <i class="fas fa-user me-3"></i>
                        <input type="email" placeholder="Email user" id="txtUserEmailA">
                    </div>
    
                    
                    <a href="../tokens/tokenForgotPassword.html" class="comic-button">Confirmar</a>
                </form>
            </div>
            <div class="col-6 fondi d-flex justify-content-center align-items-center">
                <div class="panel right-panel">
                    <img src="../../assets/img/iconos/neurodash.png" alt="" class="image-description">
                    <div class="content">
                        <h3>Olvidatse tu contraseña?</h3>
                        <p>Digita tu correo electronico para enviarte un correo de verificacion.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
    <script src="../../lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../../assets/js/global/visibilidadPasword.js"></script>

</body>
</html>