<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo.icon">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="../../assets/css/pages/login.css">

    <!-- <link rel="stylesheet" href="../../assets/css/main.css"> -->
</head>
<body class="backgound-start-back">
    <!-- <div class="container">

    </div> -->
    <div class="container-forms">
        <div class="signin-signup">
            <!-- formulario de acceso -->
            <form class="sign-in-form">
                <h2 class="title-forms">INICIAR SESIÓN</h2>
                <div class="col-12" id="liveAlertPlaceholder"></div>
                <div class="input-field">
                    <i class="fas fa-user me-3"></i>
                    <input type="email" placeholder="Email user" id="txtUserEmailA">
                </div>

                <div class="input-field inputPas">
                    <i class="fas fa-lock me-3"></i>
                    <div class="password-wrapper">
                        <input type="password" placeholder="Password" id="txtUserpasswordA">
                        <!-- Ojito para mostrar/ocultar contraseña dentro del input -->
                        <i class="fa-regular fa-eye-slash toggle-password" id="hidePasswordA" onclick="verPassword('txtUserpasswordA', 'showPasswordA', 'hidePasswordA')"></i>
                        <i class="fa-regular fa-eye toggle-password" id="showPasswordA" onclick="verPassword('txtUserpasswordA', 'showPasswordA', 'hidePasswordA')" style="display: none;"></i>
                    </div>
                </div>
                <p class="forgot-passwordL">
                    <a href="#" id="forgotPasswordLink">Olvidaste tu contraseña?</a>
                </p>
                <!-- <p class="text-end"><a href="#" id="sign-up-btn2">Olvidaste tu contraseña?</a></p> -->

                
                <!-- <input type="submit" value="login" class="btn"> -->
                <input type="submit" class="comic-button" value="Ingresar">
                <p class="account-text"> Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>

            <!-- formulario de registro -->
            <form class="sign-up-form" action="../../model/emial/envio.php" method="post">
                <h2 class="title-forms">Registrarse</h2>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="User Email" name="txtEmailB" id="txtEmailB" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" class="disabled-input" placeholder="User name" name="txtUsernameB" id="txtUsernameB" max="30" disabled  required>
                </div>
                
                <input type="submit" class="comic-button" value="Registrarse">
                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <img src="../../assets/img/iconos-desarrollo/neuroLeyendo 1.png" alt="" class="image-description">
                <div class="content">
                    <h3>¿Ya tienes cuenta?</h3>
                    <p>Inicia sesión en NeuroDash y continúa tu aventura.</p>
                    <button class="btn" id="sign-in-btn">Iniciar sesión</button>
                </div>
            </div>
            <div class="panel right-panel">
                <img src="../../assets/img/iconos/neurodash.png" alt="" class="image-description">
                <div class="content">
                    <h3>¿No tienes cuenta?</h3>
                    <p>Regístrate en NeuroDash y empieza a jugar ahora.</p>
                    <button class="btn" id="sign-up-btn">Registrarse</button>
                </div>
            </div>
        </div>
    </div>


    <!-- <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button> -->

    <div class="toast-container position-fixed bottom-0 start-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <!-- <img src="..." class="rounded me-2" alt="..."> -->
                <i class="fa-solid fa-triangle-exclamation fa-xl fa-shake m-2"></i>
                <strong class="me-auto title-toast"> IMPORTANTE</strong>
                <!-- <small>11 mins ago</small> -->
                <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
            </div>
            <div class="toast-body">
                
            </div>
        </div>
    </div>
    <div class="loader-default">
        <div class="loader-circle-9">
            Loading
            <span></span>
        </div>
    </div>
    <script src="../../lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.js"></script>
    <script type="module" src="../../assets/js/main.js"></script>
    <script src="../../assets/js/global/visibilidadPasword.js"></script>
</body>
</html>