<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo.icon">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="../../assets/css/pages/login.css">

    <!-- <link rel="stylesheet" href="../../assets/css/main.css"> -->
</head>
<body class="backgound-start-back">
    <!-- <div class="container">

    </div> -->
    <div class="container-forms">
        <div class="signin-signup">
            <!-- formulario de acceso -->
            <form action="" class="sign-in-form">
                <h2 class="title-forms">INICIAR SESIÓN</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="email" placeholder="Email user"  required>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" required>
                </div>
                <!-- <input type="submit" value="login" class="btn"> -->
                <input type="submit" class="comic-button" value="Ingresar">
                <p class="account-text"> Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>

            <!-- formulario de registro -->
            <form action="" class="sign-up-form">
                <h2 class="title-forms">Registrarse</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="User name">
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="email" placeholder="User Email">
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password">
                </div>
                <!-- <input type="submit" value="Sing up" class="btn"> -->
                <input type="submit" class="comic-button" value="Registrarse">
                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <img src="../../assets/img/iconos-desarrollo/neuroLeyendo 1.png" alt="" class="image-description">
                <div class="content">
                    <h3>¿Ya tienes cuenta?</h3>
                    <p>Inicia sesión en NeuroDash y continúa tu aventura.</p>
                    <button class="btn" id="sign-in-btn">Registrarse</button>
                </div>
            </div>
            <div class="panel right-panel">
                <img src="../../assets/img/iconos/neurodash.png" alt="" class="image-description">
                <div class="content">
                    <h3>¿No tienes cuenta?</h3>
                    <p>Regístrate en NeuroDash y empieza a jugar ahora.</p>
                    <button class="btn" id="sign-up-btn">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../../assets/js/main.js"></script>
</body>
</html>