<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../assets/css/pages/forgotPassword.css">
    <link rel="stylesheet" href="../../assets/css/pages/login.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body class="backgound-start-back">
    <div class="container aling-item-centerN min-vh-100">
        <div class="row rounded-5 p-3 fondo-login shadow box-area">
            <div class="col-4"></div>
            <div class="col-md-12 right-box">
                <div class="row align-items-center">
                    <form action="../../processes/register/registrar.php" method="post" class="registrar-login">
                        <div class="header-text mb-4">
                            <h2 class="text-center">Contraseña</h2>
                        </div>

                        <div class="input-group inputPas mb-3">
                            <span class="m-3 text-light fs-6"><i class="fa-solid fa-circle-exclamation text-light"></i> La contraseña debe tener como mínimo, Una letra mayúscula, una minúscula y números </span>
                            <div class="password-wrapper">
                                <input type="password" class="contra-1 form-control form_style rounded-3 form-control-lg fs-6" placeholder="Contraseña" id="txtUserpasswordrec">
                                <!-- Ojito para mostrar/ocultar contraseña dentro del input -->
                                <i class="fa-regular fa-eye-slash toggle-password2" id="hidePasswordA" onclick="verPassword('txtUserpasswordrec', 'showPasswordA', 'hidePasswordA')"></i>
                                <i class="fa-regular fa-eye toggle-password2" id="showPasswordA" onclick="verPassword('txtUserpasswordrec', 'showPasswordA', 'hidePasswordA')" style="display: none;"></i>
                            </div>
                        </div>

                        <div class="input-group inputPas mb-3">
                            <div class="password-wrapper">
                                <input name="passwordUser" type="password" class="contra-2 disabled-input form-control form_style rounded-3 form-control-lg bg-light fs-6" disabled placeholder="Validad contraseña" id="txtUserpasswordrec2">
                                <i class="fa-regular fa-eye-slash toggle-password2" id="hidePasswordb" onclick="verPassword('txtUserpasswordrec2', 'showPasswordb', 'hidePasswordb')"></i>
                                <i class="fa-regular fa-eye toggle-password2" id="showPasswordb" onclick="verPassword('txtUserpasswordrec2', 'showPasswordb', 'hidePasswordb')" style="display: none;"></i>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <a href="#" class="btn btn-form btn-lg w-100" id="confirmSave">Confirmar</a>
                            <!-- <button class="btn btn-form btn-lg btn-primary w-100 fs-6">Confirmar</a> -->
                        </div>
                    </form>
                </div>
            </div> 
        </div>
        <div class="alerta" id="alerta">
            <i class="fas fa-check-circle"></i> Contraseña guardada
        </div>
    </div>




    <div class="loader-default">
        <div class="loader-circle-9">
            Loading
            <span></span>
        </div>
    </div>



    <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../../assets/js/main.js"></script>
    <script src="../../assets/js/page/alertPassword.js"></script>
    <script src="../../assets/js/global/visibilidadPasword.js"></script>


   

</body>
</html>