<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../assets/css/login.css"> -->

    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body class="backgound-start-back">
    <div class="container aling-item-centerN min-vh-100">
        <div class="row border rounded-5 p-3 fondo-login shadow box-area">
            <div class="col-4"></div>
            <div class="col-md-12 right-box">
                <div class="row align-items-center">
                    <form action="">
                        <div class="header-text mb-4">
                            <h2 class="text-white text-center">Contraseña</h2>
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control form_style rounded-3 form-control-lg bg-light fs-6" placeholder="Contraseña">
                        </div>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control form_style rounded-3 form-control-lg bg-light fs-6" placeholder="Validad contraseña">
                        </div>

                        <div class="input-group mb-3">
                            <a class="btn btn-form btn-lg btn-primary w-100 fs-6" href="../../views/forms/login.html">Registrarse</a>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>

    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>