<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../assets/css/login.css"> -->

    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body class="backgound-start">
    <div class="container aling-item-centerN min-vh-100">
        <div class="row border rounded-5 p-3 fondo-login shadow box-area">
            <div class="col-md-6 rounded-4 aling-item-centerN flex-column left-box" >
                <div class="featured-image mb-3">
                    <img src="../../assets/img/iconos-principales/nuzit-fondo-transp.png" class="img-fluid img-login">
                </div>
                    <p class="text-white fs-4 texto text-wrap text-center" >¡Encuentra, recuerda, y conquista!</p>  
            </div> 

            <div class="col-md-6 right-box">
                <div class="row d-flex align-items-center">
                    <form action="">
                        <div class="input-group mb-5">
                            <input type="password" class="form-control form_style rounded-3 form-control-lg bg-light fs-6" placeholder="Password">
                        </div>

                        <div class="input-group mb-5">
                            <input type="password" class="form-control form_style rounded-3 form-control-lg bg-light fs-6" placeholder="Password">
                        </div>

                        <div class="input-group mb-3">
                            <a class="btn btn-form btn-lg btn-primary w-100 fs-6" href="login.html">sign up</a>
                        </div>

                        <!-- <div class="input-group mb-3">
                            <button class="btn btn-form btn-lg btn-light w-100 fs-6"><img src="../assets/img/iconos-desarrollo/Google.png" class="me-2 img-google"><small>Sign In with Google</small></button>
                        </div> -->

                    </form>
                </div>
            </div> 
        </div>
    </div>

    <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>