<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEURODASH</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../../assets/css/pages/creditos.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="background-creditos">
    <div class="container animacion mt-5 d-flex justify-content-center text-center">
        <div class="credits_logo background-logo"></div>
        <div class="credits-container">
            
            <div class="credits">

                <h1>Créditos</h1>
                 <br>
                <h2>Participantes</h2>

                <p>ANDRES FELIPE TRESPALACIOS</p>
                <P>BRAYAN SANTIAGO GUERRERO MENDEZ</P>
                <p>JESUS FERNANDO CARVAJAL ANACONA</p>
                <p>KAROL NATALIA OSORIO POVEDA</p>
                <br>
                <h2>Backend</h2>

                <p>BRAYAN SANTIAGO GUERRERO MENDEZ</p>
                <p>JESUS FERNANDO CARVAJAL ANACONA</p>
                <br>
                <h2>FRONTEND</h2>

                <p>KAROL NATALIA OSORIO POVEDA</p>
                <br>
                <h2>DOCUMENTACION</h2>

                <P>BRAYAN SANTIAGO GUERRERO MENDEZ</P>
                <p>JESUS FERNANDO CARVAJAL ANACONA</p>
                <p>KAROL NATALIA OSORIO POVEDA</p></p>
                <br>
                <h2>Diseño</h2>
                
                <p>ARTE, IMAGENES, TIPOGRAFIA Y MOCKUP</p>
                <br>
                <h2>Componentes</h2>
                <h3>Framework</h3>
                <p>BOOTSTRAP</p>
                <br>
                <h2>Musica.Sonido</h2>
                <p>....</p>
            </div>
        </div>
    </div>
    
</body>
</html>