<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEURODASH</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../../assets/css/pages/creditos.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="background-creditos">
    <div class="container animacion mt-5 d-flex justify-content-center text-center">
        <div class="credits_logo background-logo"></div>
        <div class="credits-container">
            <a  href="../home.html" type="button" class="home-back"></a>
            <div class="credits">
                <div class="credits">
                    <h1>Créditos</h1>
                    <br>
                    
                    <h2>Participantes</h2>
                        <p>Andrés Felipe Trespalacios Pérez</p>
                        <p>Brayan Santiago Guerrero Méndez</p>
                        <p>Jesús Fernando Carvajal Anacona</p>
                        <p>Karol Natalia Osorio Poveda</p>
                    <br>
                    
                    <h2>Roles y Responsabilidades</h2>
                    
                    <h3>Backend</h3>
                        <p>Brayan Santiago Guerrero Méndez</p>
                        <p>Jesús Fernando Carvajal Anacona</p>
                    
                    <h3>Frontend</h3>
                        <p>Andrés Felipe Trespalacios Pérez</p>
                        <p>Karol Natalia Osorio Poveda</p>
                    
                    <h3>Documentación</h3>
                        <p>Andrés Felipe Trespalacios Pérez</p>
                        <p>Brayan Santiago Guerrero Méndez</p>
                        <p>Jesús Fernando Carvajal Anacona</p>
                        <p>Karol Natalia Osorio Poveda</p>
                    
                    <h3>Diseño</h3>
                    <p>Arte, imágenes, tipografía y mockups: Todo el equipo colaboró en esta área.</p>
                    
                    <br>
                    
                    <h2>Componentes Tecnológicos</h2>
                    <h3>Framework</h3>
                        <p>Bootstrap</p>
                        <p>fontawesome</p>
                    <br>
                    
                    <h2>Música y Sonido</h2>
                    <p>Composición y efectos por definir...</p>
                    <p>Propuesta musical generada mediante recursos de Creative Commons.</p>
                    <br>

                    <h2>Agradecimientos</h2>
                    <p>Este proyecto no habría sido posible sin el apoyo de nuestros mentores y la colaboración del equipo.</p>
                    <br>
                </div>
                
    </div>
    
</body>
</html>