.backgound-uno{
    background-image: url('../../img/fondos-pantalla/fondo1.jpg');
    background-size: cover; /* cubre todo*/
    background-color: #0000009c;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;

}

.backgound-dos{
    background-image: url('../../img/fondos-pantalla/fondo3.jpg');
    background-size: cover; /* cubre todo*/
    background-repeat: no-repeat;
}

.backgound-tres{
    background-image: url('../../img/fondos-pantalla/fondo2.jpg');
    background-size: cover; /* cubre todo*/
    background-repeat: no-repeat;

}

.backgound-cuatro{
    background-image: url('../../img/fondos-pantalla/fondo5.jpg');
    background-size: cover; /* cubre todo*/
    background-repeat: no-repeat;
}
.backgound-cinco{
    background-image: url('../../img/fondos-pantalla/fondo6.jpg');
    background-size: cover; /* cubre todo*/
    background-repeat: no-repeat;
}

.backgound-siete{
    background-image: url('../../img/fondos-pantalla/pppp.jpg');
    background-size: cover; /* cubre todo*/
    background-color: #0000009c;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

}

.backgound-start-back{
    background-image: url('../../img/fondos-pantalla/fondo1.jpg') !important;
    background-color: #0000009c;
    background-blend-mode: soft-light;
    background-size: cover; /* cubre todo*/
}

.fondo-login{
    background-color: rgba(0, 0, 0, 0.473);
}

.backgound-blackRed{
    background-image: url('../../img/fondos-pantalla/backgroud.png');
    background-size: cover; /* cubre todo*/
    /* background-repeat: no-repeat; */
}

.salaEspera{
    background-image: url('../../img/fondos-pantalla/fondoConfig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.backgrond-config{
    background-image: url('../../img/fondos-pantalla/fondo1.jpg') !important;
    background-size: cover;
    background-position: center center; 
    background-color: #00000071;
    background-blend-mode: soft-light;
    

    /* background-repeat: no-repeat; */
    /* background-position: center center;  */
}

.fondo-home{

    background-image: url('../../img/fondos-pantalla/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    /* background-color: #0000009c;
    background-blend-mode: soft-light; */
}

.fondo-amarillo{
    background-image: url('../../img/fondos-pantalla/amarillo.jpg');
    background-size: cover; /* cubre todo*/
    /* background-repeat: no-repeat; */
    background-position: center; 

}

.backgound-loaders{
    background-image: url('../../img/fondos-pantalla/fondo\ loader.png');
    background-size: cover; /* cubre todo*/
    background-repeat: no-repeat;
    background-position: center; 
}

.backgound-podio{
    background-image: url('../../img/fondos-pantalla/3422326.jpg');
    background-size: cover; /* cubre todo*/
    background-repeat: no-repeat;
    background-position: center; 
}

.backgound-tokens{
    background-image: url('../../img/fondos-pantalla/pppp.jpg');
    background-color: #00000071;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center; 
}

.background-creditos{
    background-image: url(../../img/fondos-pantalla/fondo1.jpg);
    background-color: #00000071;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.background-logo{
    background-image: url(../../img/iconos/neurodash.png); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.background-cartas{
    background: url(../../img/fondos-pantalla/fondo5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: #333;
    overflow: hidden;
}
.background-sala{
    background-image: url(../../img/fondos-pantalla/propuesta2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}