<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../assets/img/iconos-principales/rayo.icon">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.css">

  </head>
<body class="backgound-uno" style="overflow: hidden;">
  <div class="container-fluid estilo">
    <div class="row">
      <div class="col-6 d-flex justify-content-start">
          <a href="" title="Configuraciones" class="hover-icons">
            <img src="../assets/img/iconos/config.png" alt="botón configuración" class="configuraciones">
          </a>
      </div>
      <div class="col-6 d-flex justify-content-end">
            <a href="home.html" class="hover-icons">
              <img src="../assets/img/iconos/home.png" alt="botón home" class="icono-home">
            </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <img src="../assets/img/iconos-principales/dash.png" alt="logo" class="logito-entrenamiento">
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="card Difi max-w-100 p-2" style="background-color: #8080ff7c; border-radius: 15px; width:600px;">
          <!-- <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <a class="brutalist-button1" href="tematicaEntrenamiento.html">
                <div class="btn-txt">
                  <span class="text">FÁCIL</span>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <a class="brutalist-button2" href="tematicaEntrenamiento.html">
                <div class="btn-txt">
                  <span>MEDIO</span>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <a class="brutalist-button3" href="tematicaEntrenamiento.html">
                <div class="btn-txt">
                  <span>DIFÍCIL</span>
                </div>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div> 

  <script src="../lib/bootstrap/js/bootstrap.js"></script>
  <script src="../controller/entrenamiento/niveles.js"></script>
  <script src="../assets/js/entrenamiento/animacion1.js"></script>
</body>
</html>


