<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>

     <!-- icono pag -->
     <link rel="icon" href="../assets/img/iconos-principales/rayo_nuzit.icon" />

     <!-- bootstrap -->
     <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" />
     <link rel="stylesheet" href="../lib/fontawesome/css/all.css" />

     <!-- estilos -->
     <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body>
    <h1>holaaaaaaaa</h1>
    <button class="home">home1</button>
    <button class="home2">home2</button>
    <button class="home3">home3</button>
    <button class="home4">home4</button>

    <!-- <div class="loader-default">
        <div class="loader-circle-9">
            Loading
            <span></span>
        </div>
    </div> -->
    <script type="module" src="../assets/js/app.js"></script>
</body>
</html>