<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
</head>
<body class="fondo-home">
    <div class="container-fluid d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
        <div class="col-12 d-flex align-items-center justify-content-center flex-column" style="height: 100%;">
            <div class="loader-cabezon">
                <div class="wave"></div>
            </div>
            <div class="raya-loader"></div>
        </div>
    </div>
 
    <script src="../assets/js/entrenamiento/entrenamiento.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>