<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../assets/img/iconos-principales/rayo.icon">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/pages/topi.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
</head>
<body class="backgound-topi3" style="height: 100vh;">
    <div class="container-fluid 100vh">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center rect2">
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <!-- <div class="config-invitado"> -->
                        <img class="musica size-icon-1 me-5" src="../assets/img/iconos-desarrollo/mute-music.png" alt="active-music">
                        <img class="sonido size-icon-1" src="../assets/img/iconos-desarrollo/mute-sonido.png" alt="active-sonido">
                    <!-- </div> -->
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    MINIJUEGOS
                </div>
                <div class="col-3 d-flex justify-content-end align-items-center p-2">
                    <a href="../home.html" class="hover-icons">
                        <img src="../assets/img/iconos/home.png" alt="botón home" class="icono-home2">
                      </a>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="cardMini">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="cardJuegosmini">
                            <img src="../assets/img/iconos-principales/topLogo.png" alt="" class="imgMini">
                            <div class="textBox">
                                <div class="textContent">
                                    <p class="h1">TOPI MEMORY</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-items-center mt-3">
                        <div class="cardJuegosmini">
                            <img src="../assets/img/iconos-principales/topLogo.png" alt="" class="imgMini">
                            <div class="textBox">
                                <div class="textContent">
                                    <p class="h1">TOPI MEMORY</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                    
                </div>
            </div>
        </div>
    </div>
    
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>