<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMORIZE-NUZIT</title>
    <link rel="icon" href="../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
</head>
<body class="backgound-cinco">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <img src="../assets/img/iconos-desarrollo/Ellipse 55.png" alt="logo" class="logito-podio">
          </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="card podio p-2" style="background-color: transparent; border-radius: 15px;">
                        <div class="col-12 text-center">
                            <span class="letter" data-letter="R">R</span>
                            <span class="letter" data-letter="A">A</span>
                            <span class="letter" data-letter="N">N</span>
                            <span class="letter" data-letter="K">K</span>
                            <span class="letter" data-letter="I">I</span>
                            <span class="letter" data-letter="N">N</span>
                            <span class="letter" data-letter="G">G</span>
                            <span class="espacio-letter"></span>
                            <span class="letter" data-letter="D">D</span>
                            <span class="letter" data-letter="E">E</span>
                            <span class="espacio-letter"></span>
                            <span class="letter" data-letter="G">G</span>
                            <span class="letter" data-letter="A">A</span>
                            <span class="letter" data-letter="N">N</span>
                            <span class="letter" data-letter="A">A</span>
                            <span class="letter" data-letter="D">D</span>
                            <span class="letter" data-letter="O">O</span>
                            <span class="letter" data-letter="R">R</span>
                            <span class="letter" data-letter="E">E</span>
                            <span class="letter" data-letter="S">S</span>
                        
                        </div>

                        <div class="col-12">
                            <table class="table table-bordered tablePodio">
                                <thead>
                                  <tr class="text-center">
                                    <th scope="col" >PUESTO</th>
                                    <th scope="col">PERFIL</th>
                                    <th scope="col">PUNTOS</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align: center;">
                                        <th scope="row">
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            1
                                        </th>
                                        <td>
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            Mark
                                        </td>
                                        <td>
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            Mark
                                        </td>
                                    </tr>
                                
                                    <tr style="text-align: center;">
                                        <th scope="row">
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            1
                                        </th>
                                        <td>
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            Mark
                                        </td>
                                        <td>
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            Mark
                                        </td>
                                    </tr>
                                
                                    <tr style="text-align: center;">
                                        <th scope="row">
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            1
                                        </th>
                                        <td>
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            Mark
                                        </td>
                                        <td>
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            Mark
                                        </td>
                                    </tr>
                                
                                    <tr style="text-align: center;">
                                        <th scope="row">
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            1
                                        </th>
                                        <td>
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            Mark
                                        </td>
                                        <td>
                                            <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                            Mark
                                        </td>
                                    </tr>
                                

                                
                                </tbody>
                            </table>
                        </div>
                    
                               
                
                </div>
            </div>
        </div>
    </div> 





    <script src="../lib/bootstrap/js/bootstrap.js"></script> 
</body>
</html>