<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
</head>
<body class="backgound-cinco">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <img src="../assets/img/iconos-desarrollo/Ellipse 55.png" alt="logo" class="logito-podio">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="card podio p-2" style="background-color: transparent; border-radius: 15px;">
                    <div class="col-12 text-center">
                        <span class="letter" data-letter="R">R</span>
                        <span class="letter" data-letter="A">A</span>
                        <span class="letter" data-letter="N">N</span>
                        <span class="letter" data-letter="K">K</span>
                        <span class="letter" data-letter="I">I</span>
                        <span class="letter" data-letter="N">N</span>
                        <span class="letter" data-letter="G">G</span>
                        <span class="espacio-letter"></span>
                        <span class="letter" data-letter="D">D</span>
                        <span class="letter" data-letter="E">E</span>
                        <span class="espacio-letter"></span>
                        <span class="letter" data-letter="G">G</span>
                        <span class="letter" data-letter="A">A</span>
                        <span class="letter" data-letter="N">N</span>
                        <span class="letter" data-letter="A">A</span>
                        <span class="letter" data-letter="D">D</span>
                        <span class="letter" data-letter="O">O</span>
                        <span class="letter" data-letter="R">R</span>
                        <span class="letter" data-letter="E">E</span>
                        <span class="letter" data-letter="S">S</span>
                    
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <table class="tablePodio">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">PUESTO</th>
                                    <th scope="col">PERFIL</th>
                                    <th scope="col">PUNTOS</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row">
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        1
                                    </th>
                                    <td>
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        Mark
                                    </td>
                                    <td>
                                        2000
                                        <img src="../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-left: 5px;">
                                    </td>
                                </tr>
                            
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        2
                                    </th>
                                    <td>
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        Mark
                                    </td>
                                    <td>
                                        2000
                                        <img src="../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-left: 5px;">
                                    </td>
                                </tr>
                            
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        3
                                    </th>
                                    <td>
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        Mark
                                    </td>
                                    <td>
                                        2000
                                        <img src="../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-left: 5px;">
                                    </td>
                                </tr>
                            
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        4
                                    </th>
                                    <td>
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        Mark
                                    </td>
                                    <td>
                                        2000
                                        <img src="../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-left: 5px;">
                                    </td>
                                </tr>
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        5
                                    </th>
                                    <td>
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        Mark
                                    </td>
                                    <td>
                                        2000
                                        <img src="../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-left: 5px;">
                                    </td>
                                </tr>
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        6
                                    </th>
                                    <td>
                                        <img src="../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-right: 5px;">
                                        Mark
                                    </td>
                                    <td>
                                        2000
                                        <img src="../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" style="width: 80px; height: 70px; margin-left: 5px;">
                                    </td>
                                </tr>
                            
                            
                            </tbody>
                        </table>
                    </div>
                    
                               
                
                </div>
            </div>
        </div>
    </div> 





    <script src="../lib/bootstrap/js/bootstrap.js"></script> 
</body>
</html>