<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMORIZE-NUZIT</title>
    <link rel="icon" href="../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
</head>
<body class="backgound-podio">
<div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="col-12">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="card-podio">
                    <div class="bg-podio uwu-podio"></div>
                    <div class="bg-podio"></div>
                    <div class="content-podio d-flex flex-column">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <div class="podio-titulo2 d-flex justify-content-center" style="margin-bottom: 20px;"><h1>PODIO DE GANADORES</h1></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <div class="podio-titulo sepa d-flex align-items-center">
                                    <div class="col-3 d-flex justify-content-start align-items-center">
                                        <img src="../assets/img/iconos/corona.png" alt="corona ganador" class="coronita">
                                    </div>
                                    
                                    <div class="col-5 d-flex justify-content-center">
                                        <div class="icono-perfil d-flex justify-content-center align-items-center">
                                            <div class="icono-perfil-square">
                                                <img src="../assets/img/iconos/perfil1.png" alt="Icono Términos" class="coronita">
                                            </div>
                                        </div>
                                        <div class="btn-IcoText ml-2 d-flex justify-content-center align-items-center">
                                            <span>Jesus</span>
                                        </div>
                                    </div>

                                    <div class="col-4 d-flex justify-content-center">
                                        <div class="d-flex align-items-center">
                                            <span>2000</span>
                                            <div class="icono-perfil d-flex justify-content-center align-items-center mt-2">
                                                <div class="icono-perfil-square">
                                                    <img src="../assets/img/iconos/cerebritos.png" alt="Icono Términos" class="coronita">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <div class="podio-titulo sepa d-flex align-items-center">
                                    <div class="col-3 d-flex justify-content-start align-items-center">
                                        <img src="../assets/img/iconos/corona.png" alt="corona ganador" class="coronita">
                                    </div>
                                    
                                    <div class="col-5 d-flex justify-content-center">
                                        <div class="icono-perfil d-flex justify-content-center align-items-center">
                                            <div class="icono-perfil-square">
                                                <img src="../assets/img/iconos/perfil2.png" alt="Icono Términos" class="coronita">
                                            </div>
                                        </div>
                                        <div class="btn-IcoText ml-2 d-flex justify-content-center align-items-center">
                                            <span>Jesus</span>
                                        </div>
                                    </div>

                                    <div class="col-4 d-flex justify-content-center">
                                        <div class="d-flex align-items-center">
                                            <span>2000</span>
                                            <div class="icono-perfil d-flex justify-content-center align-items-center mt-2">
                                                <div class="icono-perfil-square">
                                                    <img src="../assets/img/iconos/cerebritos.png" alt="Icono Términos" class="coronita">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <div class="podio-titulo sepa d-flex align-items-center">
                                    <div class="col-3 d-flex justify-content-start align-items-center">
                                        <!-- <img src="../assets/img/iconos/corona.png" alt="corona ganador" class="coronita"> -->
                                    </div>
                                    
                                    <div class="col-5 d-flex justify-content-center">
                                        <div class="icono-perfil d-flex justify-content-center align-items-center">
                                            <div class="icono-perfil-square">
                                                <img src="../assets/img/iconos/perfil3.png" alt="Icono Términos" class="coronita">
                                            </div>
                                        </div>
                                        <div class="btn-IcoText ml-2 d-flex justify-content-center align-items-center">
                                            <span>Jesus</span>
                                        </div>
                                    </div>

                                    <div class="col-4 d-flex justify-content-center">
                                        <div class="d-flex align-items-center">
                                            <span>2000</span>
                                            <div class="icono-perfil d-flex justify-content-center align-items-center mt-2">
                                                <div class="icono-perfil-square">
                                                    <img src="../assets/img/iconos/cerebritos.png" alt="Icono Términos" class="coronita">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <div class="podio-titulo sepa d-flex align-items-center">
                                    <div class="col-3 d-flex justify-content-start align-items-center">
                                        <!-- <img src="../assets/img/iconos/corona.png" alt="corona ganador" class="coronita"> -->
                                    </div>
                                    
                                    <div class="col-5 d-flex justify-content-center">
                                        <div class="icono-perfil d-flex justify-content-center align-items-center">
                                            <div class="icono-perfil-square">
                                                <img src="../assets/img/iconos/perfil4.png" alt="Icono Términos" class="coronita">
                                            </div>
                                        </div>
                                        <div class="btn-IcoText ml-2 d-flex justify-content-center align-items-center">
                                            <span>Jesus</span>
                                        </div>
                                    </div>

                                    <div class="col-4 d-flex justify-content-center">
                                        <div class="d-flex align-items-center">
                                            <span>2000</span>
                                            <div class="icono-perfil d-flex justify-content-center align-items-center mt-2">
                                                <div class="icono-perfil-square">
                                                    <img src="../assets/img/iconos/cerebritos.png" alt="Icono Términos" class="coronita">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center align-items-center p-2 ">
                                <button id="verMas" class="verMas-btn">15 más...</button>
                            </div>
                        </div>

                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






    <script src="../lib/bootstrap/js/bootstrap.js"></script> 
</body>
</html>