<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona entrenamiento</title>
    <link rel="icon" href="../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Lib/fontawesome/css/all.css">
</head>
<body class="fondo-amarillo"> 
    <div class="container-fluid"> 
        <div class="row d-flex justify-content-center align-items-center vh-100">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column vh-100">                
                <img src="../assets/img/iconos/cerebro_con_fuego-removebg-preview.png" alt="logo" class="Numeros">
                <div class="card secuenciaTer" style="width: 450px; background-color: #070c14; border-radius: 15px;" id="sourceCard">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item1" draggable="true">CDXLIV</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item2" draggable="true">DCCCXC </div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item3" draggable="true">MCMXCIX</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item4" draggable="true">MMMDCCCLXXXVIII </div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item5" draggable="true">CMXXXIX</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item6" draggable="true">CDXLV</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item7" draggable="true">MMMDCCCLXXX</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item8" draggable="true">MCDXLVI</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item9" draggable="true">DCCCXXXVII</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item10" draggable="true">MCMXXXVII </div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item11" draggable="true">MMDCCCXXI </div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item12" draggable="true">MMDCCCXLV</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item13" draggable="true">MCMXLV</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item14" draggable="true">MMMCMXCIII</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item15" draggable="true">MMDCCCLXXVII</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item16" draggable="true">XCV</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item7" draggable="true">CLXXXVIII</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="item18" draggable="true">CDL</div>                                   
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 d-flex justify-content-center align-items-center vh-100 flex-column">
                <div class="loader-reloj2 fa-bounce">
                    <span></span>
                    <div class="timer2" id="timer2">50</div>
                </div>
                <a href="clasIficacion-entrenamiento.html">
                <button type="button" class="btn-responder m-4">
                  <div class="button-top">Confirmar</div>
                  <div class="button-bottom"></div> 
                  <div class="button-base"></div>
                </button>
                </a>
            </div>
            
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column vh-100">
                <img src="../assets/img/iconos/cerebro_con_fuego-removebg-preview.png" alt="logo" class="Numeros">
                <div class="card secuenciaTer" style="width: 450px; background-color: #1a1a1d; border-radius: 15px;" id="dropZone">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop1" data-id="item1"></div>                                  
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop2"  data-id="item2"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop3"  data-id="item3"></div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop4"  data-id="item4"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop5"  data-id="item5"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop6"  data-id="item6"></div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop7"  data-id="item7"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop8"  data-id="item8"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop9"  data-id="item9"></div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop10" data-id="item10"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop11" data-id="item11"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop12" data-id="item12"></div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop13" data-id="item13"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop14" data-id="item14"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop15" data-id="item15"></div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop16" data-id="item16"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop17" data-id="item17"></div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items" id="drop18" data-id="item18"></div>                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    
    <script src="../assets/js/entrenamiento/entrenamiento.js"></script>
</body>
</html>