<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
</head>
<body class="backgound-cuatro"> 
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center vh-100">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column vh-100">
                <div class="glitch" data-text="A memorizar...">A memorizar...</div>
                
                  
                <div class="clock-container">
                    <div class="clock-circle">
                        <img src="../assets/img/iconos-desarrollo/neuroLeyendo 1.png" alt="Image background" class="clock-image">
                    </div>
                    <div class="digital-clock">
                        <span class="minutes" id="minutes">00</span> 
                        <span class="puntitos">:</span> 
                        <span class="seconds" id="seconds">15</span>
                    </div>
                </div>
            </div>
                
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column vh-100">                
                <img src="../assets/img/iconos-principales/dash.png" alt="logo" class="Numeros">
                <div class="card secuenciaTer" style="width: 530px; background-color:  #4287f500; border-radius: 15px;">
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">CDXLIV</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">DCCCXC </div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MCMXCIX</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MMMDCCCLXXXVIII </div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">CMXXXIX</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">CDXLV</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MMMDCCCLXXX</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MCDXLVI</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">DCCCXXXVII</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MCMXXXVII </div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MMDCCCXXI </div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MMDCCCXLV</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MCMXLV</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MMMCMXCIII</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">MMDCCCLXXVII</div>                                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">XCV</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">CLXXXVIII</div>                                   
                        </div>
                        <div class="col-4 d-flex justify-content-center">
                            <div class="recuadros-items">CDL</div>                                   
                        </div>
                    </div>
                </div>
            </div>                
        </div>
    </div> 
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../assets/js/entrenamiento/entrenamiento.js"></script>
</body>
</html>