<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
</head>
<body class="backgound-cuatro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center position-relative">
            <img src="../../assets/img/iconos-desarrollo/elefantePensado 1.png" alt="logo" class="logito-entrenamiento2 overlap-img">
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <div class="card-clasi max-w-100 p-2" style=" border-radius: 15px; width:30%;">
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                  <div class="clasifi2">
                    <span>Aciertos: 0 </span>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                  <div class="clasifi">
                    <span>Errores: 0</span>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                  <div class="clasifi">
                    <span>Bonus de tiempo: 2</span>
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center position-relative">
                  <a href="../home.html" class="regresar">Regresar</a>                                      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

    </div>


    
    <script src="../../lib/bootstrap/js/bootstrap.js"></script> 
</body>
</html>