<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rodas</title>

    <!-- librerias -->

    <link rel="stylesheet" href="">

    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body class="backgound-cuatro">


    <div class="min-vh-100 aling-item-centerN">

        <div class="container container-rondas">
            <div class="row aling-item-centerN">

                <!-- ----------------------indicador de rondas---------------------- -->
                <div class="rondas mostrar" id="rondas">
                    <h1 id="ronda">Ronda 1</h1>
                </div>

                <!-- ----------------------temporizador----------------------  -->
                <div class="col-md-6 mostrar aling-item-centerN" id="temporizador">

                    <div class="container clock-container aling-item-centerN flex-column position-relative">
                        <h1 id="titulo-tiempo" class="text-white"></h1>
                        <div class="clock-circle">
                            <img src="../../assets/img/iconos-desarrollo/neuroLeyendo 1.png" alt="Image background"
                                class="clock-image img-fluid ">
                        </div>
                        <div class="digital-clock">
                            <span class="minutos" id="minutos">00</span>
                            <span class="puntitos">:</span>
                            <span class="segundos" id="segundos">15</span>
                        </div>
                    </div>

                </div>

                <!-- ----------------------secuencias----------------------  -->
                <div class="col-md-6 mostrar aling-item-centerN" id="ocultar-secuencia">

                    <div class=" secuencias m-2 w-100">
                        <!-- <div class="mensaje" id="mensaje"></div> -->

                        <div class="list-group sortable-list" id="secuencia">
                        </div>

                        <div class="aling-item-centerN p-0 m-0">
                            <button type="button" class="validarBtnRonda" id="validarBtn">Responder</button>
                        </div>
                    </div>
                </div>

                <!-- ----------------------Puntucion por ronda----------------------  -->

                <div class="col-12 aling-item-centerN disabled" id="puntuacion">
                    <div class="card-clasi p-2">


                        <div class="col-12 d-flex justify-content-end align-items-center">
                            <img src="../../assets/img/iconos-desarrollo/elefantePensado 1.png" alt="logo"
                                class="logito-entrenamiento2 overlap-img">
                        </div>

                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <div class="clasifi">
                                <span>Resultados</span>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <div class="clasifi2">
                                <span id="aciertos">Aciertos: 0</span>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <div class="clasifi2">
                                <span id="fallos">Fallos: 0 </span>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <div class="clasifi2">
                                <span id="tiempo-restante">puntuación</span>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- ----------------------pantalla de espera----------------------  -->
                <div class="col-md-12 mostrar disabled" id="ocultar">
                    <h1 class="text-white" id="espera"></h1>
                </div>

                <!-- ----------------------ranking---------------------- -->
                <div class="col-md-12 mostrar disabled" id="historial">
                    <div id="historial" class="text-white">

                    </div>
                </div>

            </div>
        </div>

    </div>


    <!-- Latest Sortable -->
    <script src="../../lib/sortable/Sortable.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.js"></script>

    <script src="../../assets/js/entrenamiento/rondas.js"></script>
</body>

</html>