<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Rodas</title>

    <!-- librerias -->

    <link rel="stylesheet" href="">

    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body class="backgound-cuatro">


    <div class="min-vh-100 aling-item-centerN">

        <div class="container container-rondas">
            <div class="row aling-item-centerN">
                <div class="rondas" class="mostrar">
                    <h1 id="ronda">Ronda 1</h1>
                </div>

                <div class="col-md-6 mostrar aling-item-centerN">

                    <div class="container clock-container aling-item-centerN flex-column position-relative">
                        <h1 id="titulo-tiempo" class="text-white"></h1>
                        <div class="clock-circle">
                            <img src="../../assets/img/iconos-desarrollo/neuroLeyendo 1.png" alt="Image background"
                                class="clock-image img-fluid ">
                        </div>
                        <div class="digital-clock">
                            <span class="minutos" id="minutos">00</span>
                            <span class="puntitos">:</span>
                            <span class="segundos" id="segundos">15</span>
                        </div>
                    </div>

                </div>

                <div class="col-md-6  mostrar aling-item-centerN">

                    <div class="secuencias m-2 w-100">
                        <div class="mensaje" id="mensaje"></div>

                        <div class="list-group sortable-list" id="secuencia">
                        </div>

                        <div class="aling-item-centerN p-0 m-0">
                            <button type="button" class="validarBtnRonda" id="validarBtn">Responder</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div id="historial" class="text-white">

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Latest Sortable -->
    <script src="../../lib/sortable/Sortable.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.js"></script>

    <script src="../../assets/js/entrenamiento/rondas.js"></script>
</body>

</html>