<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
  
</head>
<body class="backgound-uno d-flex justify-content-center align-items-center" style="height: 100vh;">

  <div class="container-fluid justify-content-center" style="height: 100%;">
    <div class="row mt-5">
      <div class="col-12 d-flex justify-content-start">
        <a href="entrenamiento.html">
          <img src="../../assets/img/iconos/devolver.png" alt="boton confi" class="ico-devolver">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
          <img src="../../assets/img/iconos/elefante-entrenamiento.png" alt="logo" class="logitoCerebro">
          <div class="row">
            <div class="col-12 d-flex justify-content-center position-relative">
              <div class="paralelogramo">
                <h5 class="titulo-tematica textOcul1">TEMÁTICA DEL JUEGO</h5>
               <h5 class="titulo-tematica textOcul2">TEMÁTICA</h5>
              </div>

            </div>
            <div class="col-12 d-flex justify-content-center">
              <div class="card categoria" style="width: 430px; background-color: #7878eeb6; border-radius: 15px;"></div>
            </div>
          </div> 
        </div>
      </div>
    </div>

  <script src="../../lib/bootstrap/js/bootstrap.js"></script>
  <script src="../../assets/js/entrenamiento/tematica.js"></script>
  <script src="../../controller/entrenamiento/modoJuego.js"></script>
</body>
</html>


   
  


