<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">

</head>
<body class="backgound-dos" style="height: 100vh;">
  <div class="container-fluid" style="height: 100%;">
    <div class="row mt-2">
      <div class="col-12 d-flex justify-content-start align-items-center">
        <a href="tematicaEntrenamiento.html"><img src="../../assets/img/iconos/devolver.png" alt="boton confi" class="ico-devolver"></a>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-12 d-flex align-items-center">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <img src="../../assets/img/iconos-desarrollo/terminos.png" alt="boton home" class="cerebroTerm">
          </div>
        </div>
        <div class="col-lg-8 col-12 d-flex align-items-center">
          <div class="col-12 d-flex justify-content-center position-relative ">
            <div class="paralelogramoTer"><h5 class="titulo-tematica">TÉRMINOS</h5></div>
            <div class="card terminosCategoria" style="background-color: #88fa53e0; border-radius: 15px;">
              <div class="containerTer1">
                <div class="row">
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button " href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/medicina.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>MEDICINA</span>
                      </div>
                    </a>  
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/paises.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>PAISES</span>
                      </div>
                    </a> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/planetas.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>PLANETAS</span>
                      </div>
                    </a>  
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/colores.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>COLORES</span>
                      </div>
                    </a> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/animales.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>ANIMALES</span>
                      </div>
                    </a>  
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/idiomas.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>IDIOMAS</span>
                      </div>
                    </a> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/tecnologias.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>TECNOLOGIA</span>
                      </div>
                    </a>  
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/elementosquimicos.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>ELEMENTOS QUIMICOS</span>
                      </div>
                    </a> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/alimentos.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>ALIMENTOS</span>
                      </div>
                    </a>  
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                      <div class="icono-btnTerminos">
                        <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/partesCuerpo.png" alt="Icono Términos" class="ter-icon"></div>
                      </div>
                      <div class="btn-categoriaText">
                        <span>CUERPO HUMANO</span>
                      </div>
                    </a> 
                  </div>
                </div>
              </div>
              <div class="containerTer2">
                <div id="pagee1" style="width: 100%;">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button " href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/medicina.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>MEDICINA</span>
                        </div>
                      </a>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/paises.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>PAISES</span>
                        </div>
                      </a> 
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/planetas.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>PLANETAS</span>
                        </div>
                      </a>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/colores.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>COLORES</span>
                        </div>
                      </a> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/animales.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>ANIMALES</span>
                        </div>
                      </a>  
                    </div>
                  </div>
                </div>

                <div id="pagee2" style="width: 100%;">
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/idiomas.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>IDIOMAS</span>
                        </div>
                      </a> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/tecnologias.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>TECNOLOGIA</span>
                        </div>
                      </a>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/elementosquimicos.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>ELEMENTOS QUIMICOS</span>
                        </div>
                      </a> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/alimentos.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>ALIMENTOS</span>
                        </div>
                      </a>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                      <a class="botonesTer-button" href="tutorialEntrenamiento.html">
                        <div class="icono-btnTerminos">
                          <div class="icono-btnTerminos-square"><img src="../../assets/img/iconos/icon-terminos/partesCuerpo.png" alt="Icono Términos" class="ter-icon"></div>
                        </div>
                        <div class="btn-categoriaText">
                          <span>CUERPO HUMANO</span>
                        </div>
                      </a> 
                    </div>
                  </div>
                </div>

                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center clsSep">
                      <li class="page-item">
                          <a class="page-link" href="#" onclick="showPage2(1)">1</a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="#" onclick="showPage2(2)">2</a>
                      </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>   
        </div>
    </div>
  </div>  
  <script src="../../lib/bootstrap/js/bootstrap.js"></script>
  <script src="../../assets/js/entrenamiento/num.js"></script>

</body>
</body>
</html>
