<div class="col-12 d-flex  justify-content-center">
    <img src="../../assets/img/iconos/config-user.png" alt="">
</div>
<div class="col-12 text-center p-3"><span>Cuenta</span></div>
<div class="col-12">
    <div class="option-configuraciones">
        <div class="option-one-config">
            <img src="../../assets/img/iconos/config-user.png" alt="email" class="size-icons-cofig">
            <span class="text-option">Cuenta</span>
        </div>
        <div class="option-one-config">
            <img src="../../assets/img/iconos/perfil.png" alt="Perfil" class="size-icons-cofig">
            <span class="text-option">Perfil</span>
        </div>
        <div class="option-one-config">
            <img src="../../assets/img/iconos/sonido.png" alt="Sonido" class="size-icons-cofig">
            <span class="text-option">Sonido</span>
        </div>
        <div class="option-one-config">
            <img src="../../assets/img/iconos/home.png" alt="Home" class="size-icons-cofig">
            <span class="text-option">Home</span>
        </div>
    </div>
   
</div>