.text-descripcion{
    position: relative;
    top: 10px;
    font-family: 'Palmark';
    font-size: 1.6em;
    color: #ffff00;
    text-align: center;
}

.texto{
    font-family: 'Courier New', Courier, monospace; 
    font-weight: 600;
} 


.titulo-tematica{
    text-align: center;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
  }


  .letter{
    display: inline-block;
    font-weight: 900;
    font-size: 2em;
    /* margin: 0.2em; */
    position: relative;
    color: #ffffff;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
  }

  .letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
  }
  .letter, .letter:before, .letter:after{
    transition: all 0.3s ease-in-out;
  }
  .letter:before{
    color: #000000;
    text-shadow: 
      -1px 0px 1px rgba(255,255,255,.8),
      1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
      rotateX(0deg)
      rotateY(-15deg)
      rotateZ(0deg);
  }
  .letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(0deg)
      skew(0deg,1deg);
  }
  .letter:hover:before{
    color: #000000;
    transform:
      rotateX(0deg)
      rotateY(-40deg)
      rotateZ(0deg);
  }
  .letter:hover:after{
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(40deg)
      rotateZ(0deg)
      skew(0deg,22deg);
  }

  .tuto-text{
    color: rgb(9, 245, 28);
    font-size: 23px;
    font-weight: bold;
  }
  
  .tuto-text2{
    color: rgb(255, 255, 255);
    font-size: 20px;
  }

.text-justify{
  text-align: justify;
}

/* clases directas de fuente */
.font-1{
  font-family: 'party-confetti';
}

.font-2{
  font-family: 'lapsus';
}

.font-3{
  font-family: cursive;
}

.text-option{
  display: flex;
  align-items: center !important;
  font-size: 0.6em !important;
}


