<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="../../assets/css/pages/crear-sala.css">
</head>
<body class="background-sala">
    <div class="container-crear-sala container">
        <div class="row container-sala ">
            <!-- Container Opciones y Chat -->
            <div class="col-lg-3 fondo sin-padding d-none d-lg-flex flex-column ">
                <!-- Opciones -->
                <div class="col">
                    <div class="container-opciones ">
                        <div class="token" id="token">1234123 <i class="fa-solid fa-copy"></i></div>
                        <div class="admin">admin</div>
                        <div class="dificultad">dificultad
                            <span>/ facil</span>
                        </div>
                        <div class="modo-juego">modo de juego </div>
                        <!-- <div class="modo-juego">
                            <div class="dropdown">
                                <button class="dropbtn" onclick="toggleDropdown()">modo de juego</button>
                                <div id="dropdown-content" class="dropdown-content">
                                    <a href="#" onclick="changeBackground('background-uno')">terminos</a>
                                    <a href="#" onclick="changeBackground('background-dos')">numeros</a>
                                    <a href="#" onclick="changeBackground('background-tres')">imagenes</a>
                                </div>
                            </div>
                        </div> -->
                        <div class="cantidad-jugadores">Jugadores</div>
                        <div class="cantidad d-flex justify-content-center align-items-center text">
                            <!-- <span id="decrementar"><i class="fa-solid fa-chevron-left"></i></span> -->
                            <i class="fa-solid fa-user"></i>
                            <span id="cantidadInput" value="2" min="1" max="24"> n/n </span>
                            <!-- <span id="incrementar"><i class="fa-solid fa-chevron-right"></i></span>
                            <div type="button" id="actualizarCantidad"></div> -->
                        </div>
                        <div class="estado">state</div>
                        <button class="iniciar-juego btn">Iniciar Juego</button>
                    </div>
                </div>
                <!-- Chat -->
                <div class="col">
                    <div class="chat-container">
                        <div id="chat-box" class="chat-box"></div>
                        <div class="chat-input d-flex align-items-center">
                            <input type="text" id="chat-input" placeholder="Escribe un mensaje..." class="form-control">
                            <div class="send-icon" onclick="enviarMensaje()">
                                <i class="fa-regular fa-message oscuro"></i> 
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <!-- Tabla de Usuarios -->
            <div class="col-lg-9 sin-padding  ">
                <div class="container-tabla-usuarios ">
                    <div class="list-jugadores " id="usuariosTabla">
                        <div class="menu-container">
                            <label class="hamburger d-lg-none">
                                <input type="checkbox" onclick="toggleMenu()">
                                <svg viewBox="0 0 32 32">
                                    <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                                    <path class="line" d="M7 16 27 16"></path>
                                </svg>
                            </label>
                            <ul class="dropdown-menu">
                            <li><div class="token" id="token">1234123 <i class="fa-solid fa-copy"></i></div></li> 
                            <li><div class="admin">admin</div></li> 
                            <li><div class="dificultad">dificultad<span>/ facil</span></div></li> 
                            <li> <div class="modo-juego">modo de juego </div></li> 
                            <li><div class="cantidad-jugadores">Jugadores</div></li>
                            <li><div class="cantidad d-flex justify-content-center align-items-center text">
                                <i class="fa-solid fa-user"></i>
                                <span id="cantidadInput" value="2" min="1" max="24"> n/n </span>
                            </div></li>
                            <li><div class="estado">state</div></li>
                            <li><button class="iniciar-juego">Iniciar Juego</button></li>
                            </ul>
                        </div>
                        <h2 class="text-center titulo">SALA DE ESPERA</h2>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>
                        <div class="jugador-sala">
                            <img class="icono-perfil" data-bs-toggle="modal" data-bs-target="#rango" src="../../assets/img/iconos/perfil.png" alt="Icono del perfil">
                            <span class="user"  data-bs-toggle="modal" data-bs-target="#rango">nombre</span>
                            <div class="expulsar-jugador">
                                <i class="text-danger banear fa-solid fa-trash-can" onclick="openExpulsarModal()"></i>
                            </div>
                        </div>

                    </div>
                    <div class="d-lg-none">
                        <div class="chat-container-prueba">
                            <div id="chat-box2" class="chat-box2"></div>
                            <div class="chat-input2 d-flex align-items-center">
                                <input type="text" id="chat-input2" placeholder="Escribe un mensaje..." class="form-control">
                                <div class="send-icon2" onclick="enviarMensaje2()">
                                    <i class="fa-regular fa-message oscuro"></i> 
                                </div>
                            </div>
                        </div> 
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="rango" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <h5 class="modal-title"><img src="../../assets/img/iconos/perfil.png"  class="icono">Nombre</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-body-custom">
                    <img src="../../assets/img/iconos-desarrollo/icono-rango.png" alt="Liga Icono" class="img-fluid mb-2">
                    <p class="mb-1">Liga: oro</p>
                    <div class="container-exp">
                        <div class="exp">1500/2000</div>
                    </div>
                    <p class="mt-3 mb-1">Bonos:</p>
                    <input type="text" class="bonos" value="6" readonly>
                </div>
            </div>
        </div>
    </div>
<!-- Modal de confirmación para expulsar -->
<div id="expulsarModal" class="expulsar-modal">
    <div class="expulsar-modal-content">
      <span class="expulsar-close" onclick="closeExpulsarModal()"></span>
      <h2>Confirmar expulsión</h2>
      <p>¿Estás seguro de que deseas expulsar a este jugador?</p>
      <div class="expulsar-modal-buttons">
        <button class="expulsar-confirm" onclick="expulsarJugador()">Expulsar</button>
        <button class="expulsar-cancel" onclick="closeExpulsarModal()">Cancelar</button>
      </div>
    </div>
  </div>

    <script src="../../lib/jquery/jquery.min.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script src="../../assets/js/page/crearsala2.js"></script>
</body>
</html>
