<!DOCTYPE <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Juego de memoria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
        <link href="../../assets/css/pages/cartas.css" rel="stylesheet">
    </head>
    <body class="background-ft">
        <!-- <div class="contenedor-loader" id="loadingScreen">
            <div class="loading-screen z-0" id="loadingScreen">
                <div class="loading-circle z-n1">Loading...</div>
                <span></span>
            </div>
        </div> -->
        <div class="cart-home">
            <a href="../home.html">
                <img src="../../assets/img/iconos/home.png" alt="flecha-develover" class="devolver-home">
            </a>
        </div>
        <main class="d-flex justify-content-center align-items-center">
            
            
            <section class="sectionOne" >
                <div class="container-cartas">
                    <section class="sectionTwo">
                        <div class="container-estadistica"id="cart">
                            <span id="mensajeFinal"></span>
                            <span class="estadisticasCar" id="aciertos">Aciertos: 0</span>
                            <span class="estadisticasCar" id="tiempo-restante">Tiempo: 30 segundos</span>
                            <span class="estadisticasCar" id="movimientos">Movimientos: 0</span>
                        </div>
                    </section>
                    <div class="grid-container">
                        <button id="0" onclick="destapar(0)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="1" onclick="destapar(1)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="2" onclick="destapar(2)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="3" onclick="destapar(3)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="4" onclick="destapar(4)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="5" onclick="destapar(5)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="6" onclick="destapar(6)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="7" onclick="destapar(7)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="8" onclick="destapar(8)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="9" onclick="destapar(9)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="10" onclick="destapar(10)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="11" onclick="destapar(11)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="12" onclick="destapar(12)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="13" onclick="destapar(13)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="14" onclick="destapar(14)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        <button id="15" onclick="destapar(15)" class="btnCartas">
                            <div class="btnCartas-inner">
                                <div class="btnCartas-front"></div>
                                <div class="btnCartas-back"></div>
                            </div>
                        </button>
                        
                    </div>
                </div>
            </section>
            
        </main>
        
    <!-- <audio id="background-music" src="musica/WhatsApp Audio 2024-09-11 at 8.50.35 PM.mpeg" loop></audio> -->
       <script src="../../assets/js/page/cartas.js"></script>
       <script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
       <script src="../../lib/fontawesome/js/all.min.js"></script>
       <script src="../../assets/js/main.js" type="module"></script>
    </body>
</html>