<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEURODASH</title>
    <link rel="stylesheet" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
</head>
<body class="backgound-cinco d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container-fluid h-100 d-flex flex-column justify-content-center" style="height: 100%;">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <img src="../../assets/img/iconos-desarrollo/Ellipse 55.png" alt="logo" class="logito-podio">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="card podio p-2" style="background-color: transparent; border-radius: 15px;">
                    <div class="col-12 text-center mb-2">
                        <span class="letter textOcul1">RANKING DE GANADORES</span>
                        <span class="letter textOcul2">RANKING</span>

                    </div>

                    <div class="col-12 d-flex justify-content-center">
                        <table class="tablePodio table-responsive">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">PUESTO</th>
                                    <th scope="col">PERFIL</th>
                                    <th scope="col">PUNTOS</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr>     
                                    <th scope="row">
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        1
                                    </th>
                                    <td>
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        Mark
                                    </td>
                                    <td>
                                        <img src="../../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" class="imgPodioLg">
                                        2000
                                    </td>
                                </tr>
                            
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        2
                                    </th>
                                    <td>
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        Mark
                                    </td>
                                    <td> 
                                        <img src="../../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" class="imgPodioLg">
                                        2000
                                    </td>
                                </tr>
                            
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        3
                                    </th>
                                    <td>
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        Mark
                                    </td>
                                    <td>
                                        <img src="../../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" class="imgPodioLg">
                                        2000

                                    </td>
                                </tr>
                            
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        4
                                    </th>
                                    <td>
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        Mark
                                    </td>
                                    <td>
                                        <img src="../../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" class="imgPodioLg">
                                        2000

                                    </td>
                                </tr>
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        5
                                    </th>
                                    <td>
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        Mark
                                    </td>
                                    <td>
                                        <img src="../../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" class="imgPodioLg">
                                        2000

                                    </td>
                                </tr>
                                <tr class="table-group-divider">
                                    <th scope="row">
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        6
                                    </th>
                                    <td>
                                        <img src="../../assets/img/iconos-desarrollo/Icono-podio.png" alt="Imagen de Mark" class="imgPodioLg">
                                        Mark
                                    </td>
                                    <td>
                                        <img src="../../assets/img/iconos/cerebritos.png" alt="Imagen de Mark" class="imgPodioLg">
                                        2000

                                    </td>
                                </tr>
                            
                            
                            </tbody>
                        </table>
                    </div>
                            
                </div>
            </div>
        </div>
    </div> 

    <script src="../../lib/bootstrap/js/bootstrap.js"></script> 
</body>
</html>