<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RANKING</title>
    <!-- icono pag -->
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css" />

    <!-- estilos -->
    <!-- <link rel="stylesheet" href="../../assets/css/main.css" /> -->
    <link rel="stylesheet" href="../../assets/css/pages/rondas.css">
</head>
<body class="backgound-unionSala d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="boa">
                    <div class="col-12 d-flex justify-content-center">
                     
                        <div class="col-6 d-flex justify-content-center align-items-center">  
                            <h1 class="text-center tituloPo">RANKING</h1>
                        </div>
                    
                        
                    </div>
                    <div class="hola">
                        <div class="cardPd">
                            <i class="fas fa-star cor2"></i>
                            <div class="primero">
                                <h5>1</h5>
                                <div class="avatarUs">
                                    <img src="../../assets/img/avatars/avatar1.jpg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <div class="tercero">
                                <h1 class="text-center">Natalia</h1>
                            </div>
                            <div class="cuarto">
                                <h5>1000</h5>
                                <i class="fas fa-trophy" style="color: gold;"></i>
                                <div class="avatarCopa">
                                    <img src="../../assets/img/iconos-principales/trofeo.jpeg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <i class="fas fa-star cor1"></i> 
    
                        </div>
                        <div class="cardPd">
                            <i class="fas fa-star cor2"></i>
                            <div class="primero">
                                <h5>1</h5>
                                <div class="avatarUs">
                                    <img src="../../assets/img/avatars/avatar1.jpg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <div class="tercero">
                                <h1 class="text-center">Natalia</h1>
                            </div>
                            <div class="cuarto">
                                <h5>1000</h5>
                                <i class="fas fa-trophy" style="color: gold;"></i>
                                <div class="avatarCopa">
                                    <img src="../../assets/img/iconos-principales/trofeo.jpeg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <i class="fas fa-star cor1"></i> 
    
                        </div>
                        <div class="cardPd">
                            <i class="fas fa-star cor2"></i>
                            <div class="primero">
                                <h5>1</h5>
                                <div class="avatarUs">
                                    <img src="../../assets/img/avatars/avatar1.jpg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <div class="tercero">
                                <h1 class="text-center">Natalia</h1>
                            </div>
                            <div class="cuarto">
                                <h5>1000</h5>
                                <i class="fas fa-trophy" style="color: gold;"></i>
                                <div class="avatarCopa">
                                    <img src="../../assets/img/iconos-principales/trofeo.jpeg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <i class="fas fa-star cor1"></i> 
    
                        </div>
                        <div class="cardPd">
                            <i class="fas fa-star cor2"></i>
                            <div class="primero">
                                <h5>1</h5>
                                <div class="avatarUs">
                                    <img src="../../assets/img/avatars/avatar1.jpg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <div class="tercero">
                                <h1 class="text-center">Natalia</h1>
                            </div>
                            <div class="cuarto">
                                <h5>1000</h5>
                                <i class="fas fa-trophy" style="color: gold;"></i>

                                <div class="avatarCopa">
                                    <img src="../../assets/img/iconos-principales/trofeo.jpeg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <i class="fas fa-star cor1"></i> 
    
                        </div>
                        <div class="cardPd">
                            <i class="fas fa-star cor2"></i>
                            <div class="primero">
                                <h5>1</h5>
                                <div class="avatarUs">
                                    <img src="../../assets/img/avatars/avatar1.jpg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <div class="tercero">
                                <h1 class="text-center">Natalia</h1>
                            </div>
                            <div class="cuarto">
                                <h5>1000</h5>
                                <i class="fas fa-trophy" style="color: gold;"></i>

                                <div class="avatarCopa">
                                    <img src="../../assets/img/iconos-principales/trofeo.jpeg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <i class="fas fa-star cor1"></i> 
    
                        </div>
                        <div class="cardPd">
                            <i class="fas fa-star cor2"></i>
                            <div class="primero">
                                <h5>1</h5>
                                <div class="avatarUs">
                                    <img src="../../assets/img/avatars/avatar1.jpg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <div class="tercero">
                                <h1 class="text-center">Natalia</h1>
                            </div>
                            <div class="cuarto">
                                <h5>1000</h5>
                                <i class="fas fa-trophy" style="color: gold;"></i>
                                <div class="avatarCopa">
                                    <img src="../../assets/img/iconos-principales/trofeo.jpeg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <i class="fas fa-star cor1"></i> 
    
                        </div>
                        <div class="cardPd">
                            <i class="fas fa-star cor2"></i>
                            <div class="primero">
                                <h5>1</h5>
                                <div class="avatarUs">
                                    <img src="../../assets/img/avatars/avatar1.jpg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <div class="tercero">
                                <h1 class="text-center">Natalia</h1>
                            </div>
                            <div class="cuarto">
                                <h5>1000</h5>
                                <i class="fas fa-trophy" style="color: gold;"></i>
                                <div class="avatarCopa">
                                    <img src="../../assets/img/iconos-principales/trofeo.jpeg" alt="Avatar del jugador">
                                </div>
                            </div>
                            <i class="fas fa-star cor1"></i> 
    
                        </div>
                    </div>
                </div>
        </div> 
    </div>
        

    <script src="../../lib/bootstrap/js/bootstrap.js"></script> 

</body>
</html>