<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../../assets/img/iconos-principales/rayo_nuzit.icon">

    <!-- Hoja de estilos personalizada -->
    <link rel="stylesheet" href="../../assets/css/main.css">
    
    <!-- librerias -->
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/fontawesome/css/all.css">
    <script src="../../assets/js/sound/controlles.js"></script>
</head>
<body class="backgound-tokens aling-item-centerN">
    <div class="container">
        <div class="col-lg-12 d-flex justify-content-center">
            <form class="form-token">
                <a href="../register.html"><span class="close-token">X</span></a>
                <div class="info">
                    <!-- <span class="title">Validación de correo electrónico</span> -->
                    <p class="description">Revisa tu correo electrónico, se te proporcionará un código de verificación</p>
                </div>
                <div class="input-fields">
                    <input placeholder="" type="tel" maxlength="1">
                    <input placeholder="" type="tel" maxlength="1">
                    <input placeholder="" type="tel" maxlength="1">
                    <input placeholder="" type="tel" maxlength="1">
                </div>
                
                <div class="action-btns">
                    <a class="verify-token" href="../valitionEmail.html">Verificar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>