<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/components/loader1.css">
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <title>Loader de Cartas</title>
</head>
<body>
    <div class="container-ms d-flex justify-content-center align-items-center vh-100 lol-a">
        <div class="carganding ">
            <div class="text-dots">
                <div class="punto-suspensivos"></div>
                <div class="punto-suspensivos"></div>
                <div class="punto-suspensivos"></div>
            </div>
            <div class="carts"></div>
            <div class="carts"></div>
            <div class="carts"></div>
            <div class="carts"></div>
            <div class="carts"></div>
            <div class="carts"></div>
        </div>
    </div>
</body>
</html>