<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/components/loader2.css">
</head>
<body>
    <div class="container-ms d-flex flex-column justify-content-center align-items-center vh-100 container-barra">
        <div class="letra-animacion-wave d-flex flex-row justify-content-center mb-3">
            <span class="letra-L:1">L</span>
            <span class="letra-L:2">O</span>
            <span class="letra-L:3">A</span>
            <span class="letra-L:4">D</span>
            <span class="letra-L:5">I</span>
            <span class="letra-L:6">N</span>
            <span class="letra-L:7">G</span>
            <span class="letra-L:8">.</span>
            <span class="letra-L:9">.</span>
            <span class="letra-L:10">.</span>
        </div>
        <div class="barra">
            <div class="barra-relleno">
                <div class="relleno"></div>
                <div class="relleno"></div>
                <div class="relleno"></div>
            </div>
        </div>
    </div>
</body>
</html>